
@{
    ViewBag.Title = "EmployeeView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EmployeeView</h2>
<style>
    #mydiv {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background-color: grey;
        opacity: .8;
    }

    .ajax-loader {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -32px; /* -1 * image width / 2 */
        margin-top: -32px; /* -1 * image height / 2 */
        display: block;
    }
</style>
<div data-ng-app data-ng-controller="employeeController" class="container">
    <strong class="error">{{ error }}</strong>
    @*<div id="mydiv" data-ng-show="loading">
        <img src="Images/482.gif" class="ajax-loader" />
    </div>*@
    <p data-ng-hide="addMode"><a data-ng-click="toggleAdd()" href="javascript:;" class="btn btn-primary">Add New</a></p>
    <form name="addEmployee" data-ng-show="addMode" style="width:600px;margin:0px auto;">
        <label>FirstName:</label><input type="text" data-ng-model="newemployee.FirstName" required />
        <label>LastName:</label><input type="text" data-ng-model="newemployee.LastName" required />
        <label>Address:</label><input type="text" data-ng-model="newemployee.Address" required />
        <label>City:</label><input type="text" data-ng-model="newemployee.City" required />
        <label>PostalCode:</label><input type="text" data-ng-model="newemployee.PostalCode" required />
        <label>Country:</label><input type="text" data-ng-model="newemployee.Country" required />
        <label>Notes:</label><input type="text" data-ng-model="newemployee.Notes" required />
        <br />
        <!-- <span class="error" data-ng-show="addCustomer.$error.required">Required!</span>-->
        @*<span class="error" data-ng-show="addCustomer.$error.email">Invalid Email format!</span>*@
        <br />
        <input type="submit" value="Add" data-ng-click="add()" data-ng-disabled="!addEmployee.$valid" class="btn btn-primary" />
        <input type="button" value="Cancel" data-ng-click="toggleAdd()" class="btn btn-primary" />
        <br /><br />
    </form>
    <table class="table table-bordered table-hover" style="width:800px">
        <tr>
            <th>#</th>
            <td>FirstName</td>
            <th>FirstName</th>
            <th>Address</th>
            <th>City</th>
            <th>PostalCode</th>
            <th>Country</th>
            <th>Notes</th>
        </tr>

        <tr data-ng-repeat="employee in employee">
            <td><strong data-ng-hide="employee.editMode">{{ employee.EmployeeId }}</strong></td>
            <td>
                <p data-ng-hide="employee.editMode">{{ employee.FirstName }}</p>
                <p data-ng-show="employee.editMode"><input type="text" data-ng-model="employee.FirstName" /></p>
            </td>
            <td>
                <p data-ng-hide="employee.editMode">{{ employee.LastName }}</p>
                <input data-ng-show="employee.editMode" type="text" data-ng-model="employee.LastName" />
            </td>
            <td>
                <p data-ng-hide="employee.editMode"><a data-ng-click="toggleEdit(employee)" href="javascript:;">Edit</a> | <a data-ng-click="delemployee(employee)" href="javascript:;">Delete</a></p>
                <p data-ng-show="employee.editMode"><a data-ng-click="save(employee)" href="javascript:;">Save</a> | <a data-ng-click="toggleEdit(employee)" href="javascript:;">Cancel</a></p>
            </td>
        </tr>
    </table>
    <hr />


</div>

