@model MvcWebRole.Models.SubscribeVM

@{
    ViewBag.Title = "Subscribe";
    Layout = null;
}

<h2>Email List Subscription Service</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <div class="form-horizontal">
        <h4>Subscribe to Mailing List</h4>
        <hr />

        <p>
            Email address  @Html.DisplayFor(model => model.EmailAddress)  has been subscribed to:  @Html.DisplayFor(model => model.ListDescription).
        </p>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
