@model dynamic

@{
    ViewBag.Title = "Confirmation";
}

<h2>One more thing...</h2>
<p>We've just sent you an email with a confirmation link.  Please click the link in the email to complete your registration.</p>
