@{
    ViewBag.Title = "Verification";
}

<h2>Problem</h2>

<div class="validation-summary-errors"> 
    <ul> 
    @foreach(var error in ViewData.ModelState.Where(s => s.Value.Errors.Count!=0).SelectMany(s => s.Value.Errors)) { 
        <li>@Html.Raw(error.ErrorMessage)</li> 
    } 
    </ul> 
</div> 
