
<div class="mobile-only-brand pull-left">
    <div class="nav-header pull-left">
        <div class="logo-wrap">
            <a ui-sref="home">
                <img class="brand-img pull-left mt-5" src="img/rsz_onair_logo_png.png" alt="brand" style="height:40px;" />
                <span class="brand-text pull-left mt-15">C/GEN</span>
            </a>
        </div>
    </div>
</div>
<div id="mobile_only_nav" class="mobile-only-nav pull-right">
    <ul class="nav navbar-right top-nav pull-right">
        <li class="dropdown auth-drp">
            <a href="#" class="dropdown-toggle pr-0" data-toggle="dropdown"><img src="img/user1.png" alt="user_auth" class="user-auth-img img-circle" /><span class="user-online-status"></span></a>
            <ul class="dropdown-menu user-auth-dropdown" data-dropdown-in="flipInX" data-dropdown-out="flipOutX">
                <li>
                    <a ui-sref="about"><i class="zmdi zmdi-account"></i><span>Profile</span></a>
                </li>
                <!--<li>
                    <a href="#"><i class="zmdi zmdi-settings"></i><span>Settings</span></a>
                </li>-->
                <li class="divider"></li>
                <li>
                    <a href="/"><i class="zmdi zmdi-power"></i><span>Log Out</span></a>
                </li>
            </ul>
        </li>
    </ul>
</div>
