<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="ContactManagerEntities" connectionString="metadata=res://*/Models.Entities.ContactModel.csdl|res://*/Models.Entities.ContactModel.ssdl|res://*/Models.Entities.ContactModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dasqlint;initial catalog=ContactManager;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings> 
    
    <appSettings>
        <add key="ContactManagerConnectionStringName" value="ContactManagerEntities"/>
        <add key="serviceBaseUri" value="http://localhost:49194/api/"/>
    </appSettings>
</configuration>