<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentNHibernate" version="1.4.0.0" targetFramework="net451" />
  <package id="Iesi.Collections" version="3.2.0.4000" targetFramework="net451" />
  <package id="Microsoft.ApplicationInsights" version="0.10.0-build17704" targetFramework="net451" />
  <package id="Microsoft.ApplicationInsights.JavaScript" version="0.10.0-build17683" targetFramework="net451" />
  <package id="Microsoft.ApplicationInsights.RuntimeTelemetry" version="0.10.0-build17704" targetFramework="net451" />
  <package id="Microsoft.ApplicationInsights.Web" version="0.10.0-build17704" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.30506.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc.FixedDisplayModes" version="1.0.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi" version="4.0.30506.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.30506.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.30506.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="4.0.30506.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.30506.0" targetFramework="net451" />
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="net451" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net451" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net451" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.0.24" targetFramework="net451" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net451" />
  <package id="NHibernate" version="3.3.1.4000" targetFramework="net451" />
</packages>