.loading-indicator {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 0, 0, 0, .5 ) url('../Content/ajax-loader.gif') 50% 50% no-repeat;
    background-size: 5%;
}

.container {
    width: 100%
}

.diff-pre{
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
}

.diff-pre span{
    margin-right: 15px;
}

.diff-original {
    background-color: white;
}

.diff-inserted {
    background-color: rgba(153, 238, 153, 0.9);
}

.diff-modified {
    background-color: yellow;
}

.diff-removed {
    background-color: rgba(255, 0, 0, 0.35);
}