
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Donut Chart Examples</h3>
<div class="col-lg-12">
    <div class="row">
        <div class="form-group">
            <label>Donut Chart</label>
            <canvas id="DonutChart" width="400" height="150"></canvas>
        </div>
    </div>
</div>
<div class="col-lg-12">
    <div class="row">
        <label>Multi Donut Chart</label>
        <canvas id="MultiDonutChart" width="400" height="150"></canvas>
    </div>
</div>
@section scripts {
    <script src="~/Scripts/Chart.js"></script>
    <script src="~/Scripts/Common.js"></script>
    <script>
        //----Donut Chart---------
        var c = document.getElementById("DonutChart");
        var ctx = c.getContext("2d");
        var tData = $.getValues("/Donut/DonutChartData");
        var myPieChart = new Chart(ctx, {
            type: 'doughnut',
            data: tData,
        });

        //----Multi Donut Chart---------
        var c = document.getElementById("MultiDonutChart");
        var ctx = c.getContext("2d");
        var tData = $.getValues("/Donut/MultiDonutChartData");
        var myPieChart = new Chart(ctx, {
            type: 'doughnut',
            data: tData,
        });
    </script>
}