@page
@model RazorPagesExample.Pages.Product.AddModel
@{
    ViewData["Title"] = "Add New Product Page";
}

<div>
    <div>
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title"><strong>New Product</strong></h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4 item_img">
                        <img src="https://www.buehler.ca/images/buttons/Product_Icon.png" class="img-responsive">
                    </div>
                    <div class="col-md-8 item_content">
                        <form method="post">
                            <h4>
                                <span>Please Enter New Product Details!!!</span>
                            </h4>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="panel">
                                            <div class="panel-body">
                                                <div class="col-md-12" style="margin-top:15px;">
                                                    <label asp-for="product.Name" style="font-weight:bold;"></label>
                                                    <input type='text' class='form-control' asp-for="product.Name" />
                                                    <span class="alert-danger" asp-validation-for="product.Name"></span>
                                                </div>
                                                <div class="col-md-12" style="margin-top:15px;">
                                                    <label asp-for="product.Model"  style="font-weight:bold;"></label>
                                                    <input type='text' class='form-control' asp-for="product.Model" />
                                                    <span class="alert-danger" asp-validation-for="product.Model"></span>
                                                </div>
                                                <div class="col-md-12" style="margin-top:15px;">
                                                    <label asp-for="product.Price"  style="font-weight:bold;"></label>
                                                    <input type='text' class='form-control' asp-for="product.Price" />
                                                    <span class="alert-danger" asp-validation-for="product.Price"></span>
                                                </div>

                                                <div class="text-center col-md-12" style="margin-top:35px;">
                                                    <button class="btn btn-primary btn-sx" type="submit"><i class="glyphicon glyphicon-plus"></i> Add Product</button>
                                                    <a class="btn btn-primary btn-sx" asp-page="/Product/Index"><i class="glyphicon glyphicon-backward"></i> Product List</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
