<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="IsCreatedNewDb" value="false"/>    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <!--<connectionStrings>    
    <add name="DefaultConnection"
         providerName="System.Data.SqlClient"
         connectionString="Server=.\SQLEXPRESS;Database=AdvertisementDB;Integrated Security=false;
         Persist Security Info=False;User ID=sa;Password=123456;Connect Timeout=120;MultipleActiveResultSets=True;" />
  </connectionStrings>-->
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <services>
      <service name="BTL.Services.AppAuthentication.Service.AppAuthenticationService"  behaviorConfiguration="DefaultBehavior">

        <endpoint  address=""
                   contract="BTL.Services.AppAuthentication.Contract.IAppAuthenticationService"
                   binding="wsHttpBinding" bindingConfiguration="CustomBinding"/>

        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>      
      <wsHttpBinding>
        <binding name="CustomBinding"
                 maxBufferPoolSize="655360"
                 maxReceivedMessageSize="655360">
          <security mode ="None"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint name="AppAuthenticationService" address="http://localhost:1212/AppAuthentication/AppAuthenticationService.svc" binding="basicHttpBinding" contract="BTL.Services.AppAuthentication.Contract.IAppAuthenticationService, BTL.Services.AppAuthentication.Contract">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="sdt" type="System.Diagnostics.XmlWriterTraceListener" initializeData="SdrConfigExample.e2e"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>