@model LocalizeDataAnnotations.Models.IPersona

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            @Html.EditorForModel()
            <br />
            <input type="submit" value="Validar" />
        }

    </div>
</body>

</html>
