<div class="jumbotron">
    <h2>Welcome to Employee Management API service</h2>

    <p><a href="@Request.Url.AbsoluteUri/api/Values/" class="btn btn-primary btn-lg">To get Employee Management API URL</a></p>
</div>
