<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
      <!--To permit uploading of large files uncomment next line-->
      <!--<httpRuntime maxRequestLength="1073741824" />-->
    </system.web>

  <!--To permit uploading of large files uncomment following lines-->

  <!--<system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>-->
  
</configuration>
