USE [master]
GO
/****** Object:  Database [AngularTree]    Script Date: 6/22/2016 7:26:55 PM ******/
CREATE DATABASE [AngularTree] ON  PRIMARY 
( NAME = N'AngularTree', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\AngularTree.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AngularTree_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\AngularTree_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AngularTree].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AngularTree]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 6/22/2016 7:26:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] NOT NULL,
	[RoleName] [nvarchar](50) NULL,
	[ParentID] [int] NULL,
	[Child] [int] NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Role] ([RoleID], [RoleName], [ParentID], [Child]) VALUES (1, N'Member', 1, NULL)
INSERT [dbo].[Role] ([RoleID], [RoleName], [ParentID], [Child]) VALUES (2, N'Guest', 1, NULL)
INSERT [dbo].[Role] ([RoleID], [RoleName], [ParentID], [Child]) VALUES (3, N'Admin', 1, 1)
USE [master]
GO
