.navbar-static-top {

}

.navbar-static-top {
    margin-bottom: 0 !important;
}

#mapDiv {
    position: absolute;
    width: 100%;
    height: 93%;
}

body {
    overflow: hidden !important;
}

i {
  font-size:16px;
}

.nav > li > a {
  color:#787878;
}
  
footer {
  padding-top:20px;
  padding-bottom:20px;
  background-color:#efefef;
}

/* count indicator near icons */
.nav>li .count {
  position: absolute;
  bottom: 12px;
  right: 6px;
  font-size: 10px;
  font-weight: normal;
  background: rgba(51,200,51,0.55);
  color: rgba(255,255,255,0.9);
  line-height: 1em;
  padding: 2px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

/* indent 2nd level */
.list-unstyled li > ul > li {
   margin-left:10px;
   padding:8px;
}

.geoSlider {
    width: 200px;
}

.geoLogo {
    height: 80px;
    margin-top: -25px;
}

.twitter-timeline {
    width: 200px !important;
    height: 400px !important;
    z-index: 9;
    right: 25px;
    bottom: 50px;
    position: absolute;
}

.geoButton {
    margin-top: 15px;
}

.schdst {
    fill: rgba(128, 128, 128, 0.7);
    stroke: rgba(256, 256, 256, 0.7);
    stroke-width: .5px;
    stroke-linejoin: round;
}

.schdst:hover {
    fill: rgba(255, 0, 0, 0.5);
}
