<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

    <connectionStrings>
      <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=MvcApplication1Tests;Integrated Security=true" providerName="System.Data.SqlClient" />
      <add name="InstanceStore" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=RegistrationInstanceStore;Integrated Security=true;Asynchronous Processing=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>
