<div class="col-sm-8">
    <input type="text" class="form-control input-lg" placeholder="Search Product By Name">
</div>
<div class="col-sm-2" style="margin-top:6px">
    <a href="#"><span class="glyphicon glyphicon-search"></span></a>
</div>

