<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="21338721-D4C4-4529-B0CE-F71A3BA1B7B1" Publisher="CN=Microsoft" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Bing Maps C# Location Tracking Sample</DisplayName>
    <PublisherDisplayName>Microsoft</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="LocationTrackingSample.App">
      <VisualElements DisplayName="Bing Maps C# Location Tracking Sample" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="The Location Tracking sample shows how to acquire and display of your current position on a map by using C#, XAML, and the Bing Maps SDK for Windows Store apps." ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>