<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<appSettings>
  <add key="SubscriptionID" value="<<SubscriptionID>>"/>
  <add key="Certificate" value="<<Management certificate>>"/>
  <add key="ScriptFileLocation" value="Drive:\\Disco\\AutomationSampleFile.ps1"/>
  <add key="automationAccount" value="AutomationAccountName"/>
  <add key="runbookname" value="HelloWorld"/>
  <add key="ScheduleStartTime" value="1/23/2015 17:30:00"/>
  <add key="ScheduleIsEnabled" value="true"/>
  <add key="ScheduleDayInterval" value="1" />
  <add key="ScheduleName" value="Schedule"/>
  <add key="ScheduleScheduleType" value="DailySchedule"/>
  <add key="ScheduleExpiryTime" value="1/23/2090 17:30:00"/>
  <add key="ScheduleDescription" value="This schedule is desihned for daily runs"/>
  <add key="ParamDatabase" value="SQLAzureDatabase"/>
  <add key="ParamSqlCredential" value="SQLCredentialsAssetCreatedinAzureAutomation"/>
  <add key="ParamSqlServer" value="SQLAzureServer.database.windows.net"/>
  <add key="ParamSqlServerPort" value="1433"/>
  <add key="ParamTable" value="SQLAzuretable"/>

</appSettings>
</configuration>