<?xml version="1.0"?>

<configuration>

  <!--
  <appSettings>
    <add key="DocumentUltimate:LicenseKey" value="QQJDJLJP34..." />  
  </appSettings>
  -->
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    
    <httpRuntime maxRequestLength="25600"/>
  </system.web>
  
</configuration>
