@model NReco.PivotData.Examples.PivotTableMvc.Models.PivotFilterContext
	

	<h1>
		Pivot table &amp; chart created with PivotData library
	</h1>

	<hr />
	<div class="form-inline">
		<div class="form-group">
			<label for="orderYearFilter">Order Year:</label>
			@Html.DropDownList("orderYearFilter", Model.FilterYearItems, new { @class="form-control" } )
		</div>

		<script type="text/javascript">
			$(function () {
				$('#orderYearFilter').change(function () {
					var year = $(this).val();
					location.href = '@Url.Action("Index","Pivot")?filterYear=' + year;
				});
			});
		</script>
	</div>

	@{Html.RenderAction("PivotTable", "Pivot", new { year = Model.FilterYear } );}


	
