@model NReco.PivotData.Examples.PivotTableMvc.Models.PivotContext

<div class="row">
	<div class="col-md-7">
		<h3>Simple Pivot Table</h3>

		<div style="overflow-y:auto;">
			@Html.Raw(Model.PivotTableHtml)
		</div>
		<br/>
	</div>
	<div class="col-md-5">

		<div id="pvtChart" style="width: 100%; height:400px;"></div>
		
		<div class="well text-center">
			See also: <a href="http://pivottable.nrecosite.com/">ASP.NET Pivot Table Builder (online demo)</a>
		</div>

		<script type="text/javascript">
			$(function () {
				var pvtTblData = @Html.Raw(Model.PivotTableJson);

				google.charts.load('current', {packages: ['corechart']});
				google.charts.setOnLoadCallback(drawVisualization);

				function drawVisualization() {
					// prepare data for pie chart
					var dataArr = [
						[ pvtTblData.Rows[0], pvtTblData.MeasureLabels[0] ]
					];
					for (var i=0; i<pvtTblData.RowKeys.length; i++) {
						// label, value
						dataArr.push([ pvtTblData.RowKeys[i][0], pvtTblData.RowTotals[i] ]);
					}

					var data1 = google.visualization.arrayToDataTable(dataArr);
					var options = {
						title: 'Raised Count by Category'
					};
					var pvtChart = new google.visualization.PieChart(document.getElementById('pvtChart'));
					pvtChart.draw(data1, {});

				};

			});
		</script>

	</div>
</div>

