<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
            <span class="sr-only">Menu de Opções</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">.NetCoders &raquo;</a></li>
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Grupo</a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>
