<form method="post">

    <h1>Computer Vision API</h1>
    <div>
        <div>
            <img src="~/images/bill.jpg" />
        </div>
        <div>
            <h3>Optical Character Recognition (OCR)</h3>
            <p style="color:green;">@ViewData["ocr"].ToString()</p>
        </div>

    </div>
</form>