@{
    ViewBag.Title = "Claims Aware MVC Application";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                This sample shows basic use of claims within an ASP.Net MVC Application. For a more complete explanation of how the sample works, 
                please refer to the readme.html file in the VS solution or to the sample’s <a href="http://code.msdn.microsoft.com/Claims-Aware-MVC-523e079b">online description</a>.
            </p>
        </div>
    </section>
}

    <p>
        The @Html.ActionLink("Admin page", "Index", "Admin")
        requires a user to be authenticated.
    </p>

