.userDataStyle {
	BEHAVIOR: url(#default#userData)
}

@media All    
{
tool\:tip {
	BEHAVIOR: url(../local/tooltip.htc)
}
    }
BODY {
	FONT-STYLE: normal; MARGIN: 0px; WIDTH: 100%; FONT-FAMILY: Verdana; BACKGROUND: #ffffff; COLOR: #000000; FONT-SIZE: medium; FONT-WEIGHT: normal
}
A {
	COLOR: #0000ff
}
A:visited {
	COLOR: #0000ff
}
A:link {
	COLOR: #0000ff
}
A:hover {
	COLOR: #ff0000; CURSOR: hand
}
A:active {
	COLOR: #ff0000; CURSOR: hand
}
DIV#mainSection {
	WIDTH: 100%; FONT-SIZE: 70%
}
DIV#mainBody {
	PADDING-BOTTOM: 20px; MARGIN-TOP: 10px; MARGIN-LEFT: 5px; FONT-SIZE: 90%
}
DIV#header {
	PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #d4dfff; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DIV#header TABLE {
	BORDER-BOTTOM: #c8cdde 1px solid; WIDTH: 100%
}
SPAN#runningHeaderText {
	COLOR: #003399; FONT-SIZE: 90%
}
SPAN#nsrTitle {
	COLOR: #003399; FONT-SIZE: 125%; FONT-WEIGHT: 600
}
DIV#header TABLE TD {
	MARGIN-TOP: 0px; PADDING-RIGHT: 20px; MARGIN-BOTTOM: 0px; COLOR: #0000ff; FONT-SIZE: 70%
}
DIV#header TABLE TR#headerTableRow3 TD {
	PADDING-BOTTOM: 2px; PADDING-TOP: 5px
}
DIV#header TABLE#bottomTable {
	TEXT-ALIGN: left; BORDER-TOP: #ffffff 1px solid
}
DIV#footer {
	PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-LEFT: 2px; WIDTH: 100%; PADDING-RIGHT: 2px; FONT-SIZE: 90%; PADDING-TOP: 2px
}
HR#footerHR {
	BORDER-BOTTOM: #eeeeff 1px solid; HEIGHT: 3px; COLOR: #d4dfff; BORDER-TOP: #c8cdde 1px solid
}
DIV.saveHistory {
	BEHAVIOR: url(#default#saveHistory)
}
DIV.section {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 16px; WIDTH: 100%; PADDING-RIGHT: 15px; PADDING-TOP: 2px
}
.heading {
	MARGIN-TOP: 18px; MARGIN-BOTTOM: 8px; FONT-WEIGHT: bold
}
.PacketFieldBitsTable {
	TEXT-ALIGN: center; MARGIN: 3%; WIDTH: 95%; BORDER-COLLAPSE: collapse
}
.PacketFieldBitsTable TH {
	BORDER-COLLAPSE: collapse
}
.PacketFieldBitsTable TH TD {
	BORDER-BOTTOM: black 1px solid; TEXT-ALIGN: center; BORDER-LEFT: black 1px solid; BACKGROUND-COLOR: #ccc; VERTICAL-ALIGN: middle; BORDER-TOP: black 1px solid; FONT-WEIGHT: normal; BORDER-RIGHT: black 1px solid
}
.PacketFieldBitsTable TR TD {
	BORDER-BOTTOM: #000 1px solid; BORDER-LEFT: #000 1px solid; BACKGROUND-COLOR: #ffffff; BORDER-TOP: #000 1px solid; BORDER-RIGHT: #000 1px solid
}
.PacketTable {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BORDER-COLLAPSE: collapse; PADDING-TOP: 2px
}
.PacketTable TD {
	BACKGROUND-COLOR: #ffffff
}
.IndentedPacketFieldBits {
	PADDING-BOTTOM: 2px; MARGIN: 25px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BORDER-COLLAPSE: collapse; PADDING-TOP: 2px
}
.IndentedPacketFieldBits TR TD {
	BORDER-BOTTOM: black 1px solid; BORDER-LEFT: black 1px solid; BACKGROUND-COLOR: #ffffff; BORDER-TOP: black 1px solid; BORDER-RIGHT: black 1px solid
}
.PacketFieldBits {
	PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #ffffff; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BORDER-COLLAPSE: collapse; PADDING-TOP: 2px
}
.PacketFieldBits TR TD {
	BORDER-BOTTOM: black 1px solid; BORDER-LEFT: black 1px solid; BACKGROUND-COLOR: #ffffff; BORDER-TOP: black 1px solid; BORDER-RIGHT: black 1px solid
}
TABLE.psdkRequirements {
	BACKGROUND-COLOR: #ffffff; MARGIN-TOP: 0em; MARGIN-BOTTOM: 0em
}
TABLE.exampleTitle {
	BACKGROUND-COLOR: #ffffff; MARGIN-TOP: 1em; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-Serif; MARGIN-BOTTOM: 0.6em; MARGIN-LEFT: 0pt; FONT-SIZE: 100%; FONT-WEIGHT: bold
}
TABLE.debugSection {
	BACKGROUND-COLOR: #ffffff; MARGIN-TOP: 1em; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-Serif; MARGIN-BOTTOM: 0.6em; COLOR: black; MARGIN-LEFT: 0pt; FONT-SIZE: 100%; FONT-WEIGHT: bold
}
P.topic_change_notice {
	MARGIN-BOTTOM: 0px; COLOR: gray; FONT-SIZE: 8pt
}
P.redText {
	COLOR: red
}
P.no_folder {
	TEXT-ALIGN: center; MARGIN-TOP: 0px; FONT-SIZE: 10pt; PADDING-TOP: 0px
}
P.folder_set {
	FONT-SIZE: 10pt
}
P.protocol_title {
	MARGIN-TOP: 1em; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-Serif; MARGIN-BOTTOM: 0.6em; MARGIN-LEFT: 0px; FONT-SIZE: 100%; FONT-WEIGHT: bold
}
P.protocol_download_link {
	TEXT-ALIGN: center; MARGIN-TOP: 0pt; FONT-SIZE: 0pt; PADDING-TOP: 0pt
}
P.TextIndented {
	MARGIN-LEFT: 0.5in
}
H1.heading {
	COLOR: #003399; FONT-SIZE: 125%
}
H2.heading {
	COLOR: #003399; FONT-SIZE: 125%
}
.subHeading {
	MARGIN-BOTTOM: 4px; FONT-WEIGHT: bold
}
H3.subHeading {
	COLOR: #003399; FONT-SIZE: 115%; FONT-WEIGHT: bold
}
H4.subHeading {
	COLOR: #003399; FONT-SIZE: 105%
}
H5.subHeading {
	COLOR: #003399; FONT-SIZE: 100%
}
IMG.toggle {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; MARGIN-RIGHT: 5px; BORDER-RIGHT: 0px
}
IMG.copyCodeImage {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; MARGIN-RIGHT: 3px; BORDER-RIGHT: 0px
}
IMG.downloadCodeImage {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; MARGIN-RIGHT: 3px; BORDER-RIGHT: 0px
}
IMG.viewCodeImage {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; MARGIN-RIGHT: 3px; BORDER-RIGHT: 0px
}
IMG.note {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; MARGIN-RIGHT: 3px; BORDER-RIGHT: 0px
}
IMG#languageFilterImage {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; MARGIN-LEFT: 10px; VERTICAL-ALIGN: middle; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
IMG#membersOptionsFilterImage {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; MARGIN-LEFT: 10px; VERTICAL-ALIGN: middle; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
IMG#toggleAllImage {
	MARGIN-LEFT: 4px; VERTICAL-ALIGN: middle
}
DIV#mainSection TABLE {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; WIDTH: 100%; FONT-SIZE: 100%; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
DIV#mainSection TABLE TH {
	BORDER-BOTTOM: #c8cdde 1px solid; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #efeff7; COLOR: #000066
}
DIV#mainSection TABLE TD {
	PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #f7f7ff; BORDER-TOP: #ffffff 1px solid
}
DIV#mainSection TABLE TD.imageCell {
	WHITE-SPACE: nowrap
}
DIV.code TABLE {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; WIDTH: 100%; MARGIN-BOTTOM: 5px; TABLE-LAYOUT: fixed; FONT-SIZE: 95%; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
DIV.code TABLE TH {
	BORDER-BOTTOM: #c8cdde 1px solid; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #efeff7; COLOR: #000066; FONT-WEIGHT: bold
}
DIV.code TABLE TD {
	PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #f7f7ff; BORDER-TOP: #ffffff 1px solid; PADDING-TOP: 5px
}
DIV.alert {
	WIDTH: 98%
}
DIV.alert TABLE {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; WIDTH: 100%; FONT-SIZE: 100%; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
DIV.alert TABLE TH {
	PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #efeff7; BORDER-BOTTOM-WIDTH: 0px; COLOR: #000066
}
DIV.alert TABLE TD {
	PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #f7f7ff; BORDER-TOP: #ffffff 1px solid
}
.copyCode {
	COLOR: #0000ff; FONT-SIZE: 90%; FONT-WEIGHT: normal
}
.downloadCode {
	COLOR: #0000ff; FONT-SIZE: 90%; FONT-WEIGHT: normal
}
.viewCode {
	COLOR: #0000ff; FONT-SIZE: 90%; FONT-WEIGHT: normal
}
DIV.code PRE {
	FONT-FAMILY: Monospace, Courier New, Courier; WORD-WRAP: break-word; COLOR: #000066; FONT-SIZE: 105%
}
CODE {
	FONT-FAMILY: Monospace, Courier New, Courier; COLOR: #000066; FONT-SIZE: 105%
}
DL {
	MARGIN-TOP: 0px; PADDING-LEFT: 1px
}
DT {
	MARGIN-LEFT: 15px
}
DD {
	MARGIN-BOTTOM: 0px; MARGIN-LEFT: 30px
}
UL {
	LIST-STYLE-TYPE: disc; MARGIN-LEFT: 17px
}
UL UL {
	LIST-STYLE-TYPE: disc; MARGIN-TOP: 3px; MARGIN-BOTTOM: 4px; MARGIN-LEFT: 17px
}
OL {
	LIST-STYLE-TYPE: decimal; MARGIN-LEFT: 24px
}
OL OL {
	LIST-STYLE-TYPE: lower-alpha; MARGIN-TOP: 3px; MARGIN-BOTTOM: 4px; MARGIN-LEFT: 24px
}
LI {
	MARGIN-BOTTOM: 3px
}
.ordered OL {
	LIST-STYLE-TYPE: decimal; MARGIN-LEFT: 24px
}
.ordered OL OL {
	LIST-STYLE-TYPE: lower-alpha; MARGIN-TOP: 3px; MARGIN-BOTTOM: 4px; MARGIN-LEFT: 24px
}
.ordered LI {
	MARGIN-BOTTOM: 3px
}
.ordered LI {
	LIST-STYLE-TYPE: decimal
}
.ordered OL LI OL LI OL LI {
	LIST-STYLE-TYPE: decimal
}
.ordered OL LI OL LI OL LI OL LI OL LI OL LI {
	LIST-STYLE-TYPE: decimal
}
.ordered OL LI OL LI OL LI OL LI OL LI OL LI OL LI OL LI OL LI {
	LIST-STYLE-TYPE: decimal
}
.ordered OL LI {
	LIST-STYLE-TYPE: lower-alpha
}
.ordered OL LI OL LI OL LI OL LI {
	LIST-STYLE-TYPE: lower-alpha
}
.ordered OL LI OL LI OL LI OL LI OL LI OL LI OL LI {
	LIST-STYLE-TYPE: lower-alpha
}
.ordered OL LI OL LI {
	LIST-STYLE-TYPE: lower-roman
}
.ordered OL LI OL LI OL LI OL LI OL LI {
	LIST-STYLE-TYPE: lower-roman
}
.ordered OL LI OL LI OL LI OL LI OL LI OL LI OL LI OL LI {
	LIST-STYLE-TYPE: lower-roman
}
.unordered {
	LIST-STYLE-TYPE: disc
}
OL OL UL LI.unordered {
	LIST-STYLE-TYPE: disc
}
TABLE LI.unordered {
	LIST-STYLE-TYPE: disc
}
LI.unordered {
	LIST-STYLE-TYPE: disc
}
P {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 15px
}
.tip {
	FONT-STYLE: italic; COLOR: #0000ff; CURSOR: hand; TEXT-DECORATION: underline
}
.languageFilter {
	PADDING-BOTTOM: 4px; COLOR: #0000ff; CURSOR: hand; TEXT-DECORATION: underline
}
.math {
	FONT-FAMILY: Times New Roman; FONT-SIZE: 125%
}
.sourceCodeList {
	FONT-FAMILY: Verdana; FONT-SIZE: 90%
}
PRE.viewCode {
	WIDTH: 100%; OVERFLOW: auto
}
MSHelp\:link {
	COLOR: #0000ff; TEXT-DECORATION: underline; hoverColor: #3366ff; filterString: 
}
