<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="zSiS.AlwaysOnService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
      <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" requirePermission="true"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <categorySources>
      <add name="Error" switchValue="All">
        <listeners>
          <add name="Information Listener"/>
        </listeners>
      </add>
      <add name="Exception" switchValue="All">
        <listeners>
          <add name="Exception Listener"/>
        </listeners>
      </add>
      <add name="Information" switchValue="All">
        <listeners>
          <add name="Information Listener"/>
        </listeners>
      </add>
      <add name="Trace" switchValue="All">
        <listeners>
          <add name="Trace Listener"/>
        </listeners>
      </add>
      <add name="Warning" switchValue="All">
        <listeners>
          <add name="Information Listener"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents name="All Events" switchValue="All"/>
      <notProcessed name="Unprocessed Category" switchValue="All"/>
      <errors name="Logging Errors &amp; Warnings" switchValue="All">
        <listeners>
          <add name="Information Listener"/>
        </listeners>
      </errors>
    </specialSources>
    <listeners>
      <add name="Exception Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" fileName="\\127.0.0.1\Shared\Logs\AlwaysOn_Exception.log" footer="---------------------------------------------------------------" formatter="Exception Formatter" header="" maxArchivedFiles="100" rollFileExistsBehavior="Increment" rollInterval="Day" rollSizeKB="10000"/>
      <add name="Information Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" fileName="\\127.0.0.1\Shared\Logs\AlwaysOn_General.log" footer="" formatter="Information Formatter" header="" rollFileExistsBehavior="Increment" rollInterval="Day" rollSizeKB="10000" traceOutputOptions="DateTime, Timestamp, Callstack"/>
      <add name="Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" fileName="\\127.0.0.1\Shared\Logs\AlwaysOn_Trace.log" footer="" formatter="Trace Formatter" header="" rollFileExistsBehavior="Increment" rollInterval="Day" rollSizeKB="10000" traceOutputOptions="DateTime, Timestamp, Callstack"/>
    </listeners>
    <formatters>
      <add name="Exception Formatter" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" template="[{timestamp(local)}]{newline}- Machine:{tab}{localMachine}{newline}- Category:{tab}{category}{newline}- Severity:{tab}{severity}{newline}- Priority:{tab}{priority}{newline}- Title:{tab}{title}{newline}- Message:{tab}{message}{dictionary({newline}- {key}:{tab}{value})}"/>
      <add name="Information Formatter" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" template="[{timestamp(local)}] {localMachine} | {category} | {severity} | {title} | {message}"/>
      <add name="Trace Formatter" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" template="[{timestamp(local)}] {localMachine} | {category} | {severity} | {title} | {message}"/>
    </formatters>
  </loggingConfiguration>

  <applicationSettings>
        <zSiS.AlwaysOnService.Properties.Settings>
              <setting name="Interval" serializeAs="String">
                    <value>60000</value>
              </setting>
              <setting name="ServiceName" serializeAs="String">
                    <value>TypeHereYourServiceName</value>
              </setting>
        </zSiS.AlwaysOnService.Properties.Settings>
    </applicationSettings>
</configuration>