<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="436e350a-552e-49c6-8a74-ae1c2600dced" Version="1.0.0.0" Publisher="CN=hegoya" />
  <Properties>
    <DisplayName>Bing Maps JavaScript Sample</DisplayName>
    <Description>"This sample shows how to use the Bing Maps SDK for Windows Store apps using JavaScript. It contains all the code you need to get started adding Bing Maps to your Windows Store app."</Description>
    <PublisherDisplayName>Bing Maps team</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="Bing" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="This sample shows how to use the Bing Maps SDK for Windows Store apps using JavaScript. It contains all the code you need to get started adding Bing Maps to your Windows Store app." ForegroundText="light" BackgroundColor="#FFFFFF">
        <DefaultTile ShowName="logoOnly" />
        <SplashScreen Image="images\splashscreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>