<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>NReco.PdfRenderer PDF Viewer Demo</title>
        
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>

		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </head>
    <body>	

		<div class="container">
			@RenderBody()
			<hr/>
		</div>

        @RenderSection("scripts", required: false)
    </body>
</html>
