<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ADSearch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ADSearch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ADSearch.Properties.Settings>
            <setting name="Form_LastObject" serializeAs="String">
                <value />
            </setting>
            <setting name="App_DomainList" serializeAs="String">
                <value>DOMAIN1, DOMAIN2</value>
            </setting>
            <setting name="App_CompanyDomain" serializeAs="String">
                <value>DOMAIN1</value>
            </setting>
        </ADSearch.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ADSearch.Properties.Settings>
            <setting name="App_Author" serializeAs="String">
                <value>Anthony Duguid</value>
            </setting>
        </ADSearch.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
