
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Line Chart Examples</h2>
<div class="col-lg-12">
    <div class="row">
        <div class="form-group">
            <label>Line Chart</label>
            <canvas id="LineChart" width="400" height="150"></canvas>
        </div>
    </div>
</div>
<div class="col-lg-12">
    <div class="row">
        <label>Multi Line Chart</label>
        <canvas id="MultiLineChart" width="400" height="150"></canvas>
    </div>
</div>
@section scripts {
    <script src="~/Scripts/Chart.js"></script>
    <script src="~/Scripts/Common.js"></script>
    <script>
         //----Line Chart---------
        var c = document.getElementById("MultiLineChart");
        var ctx = c.getContext("2d");
        var tData = $.getValues("/LineChart/MultiLineChartData");
        var myLineChart = new Chart(ctx, {
            type: 'line',
            data: tData
        });
         //----Multi Line Chart---------
        var c = document.getElementById("LineChart");
        var ctx = c.getContext("2d");
        var tData = $.getValues("/LineChart/LineChartData");
        var myLineChart = new Chart(ctx, {
            type: 'line',
            data: tData
        });

    </script>
}