@{
    ViewBag.Title = "Chat Básico";
}
<label for="apelido" >Seu Apelido:</label><input type="text" name="apelido" id="apelido" /><br />
<label for="mensagem" >Mensagem:</label><input type="text" name="mensagem" id="mensagem" maxlength="100" />
<div id="chatWindow" style="width: 100%; height: 300px; overflow: scroll; border: 1px solid grey"></div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/SignalR")
<script src="/signalr/hubs" type="text/javascript"></script>

<script type="text/javascript">
    $(function () {
        var chatHub = $.connection.chat;
        chatHub.publicarMensagem = function (apelido, msg) {
            var chatWin = $("#chatWindow");
            chatWin.html(chatWin.html() + "<b>" + apelido + "</b>: " + msg + "<br />");
        };
        $.connection.hub.start();
        $(document).keypress(function (e) {
            if (e.which == 13) {
                chatHub.enviarMensagem($("#apelido").val(), $("#mensagem").val());
                $("#mensagem").val("");
            }
        });
    });
</script>
