@{
    ViewBag.Title = "Home Page";
}

<div>
    <br />
    <h4>CRUD Operation Angular JS with Web API
    <a href="http://www.dotnet-tutorial.com">Learn more &raquo;</a></h4>
    <br />
</div>
<div class="row" ng-view>
    
</div>