<!-- Row -->
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark"><i class="zmdi zmdi-storage mr-20"></i> Choose Database</h6>
                </div>
                <div class="pull-right col-sm-4">
                    <input type="text" class="form-control" ng-model="search_db" name="search_db" id="search_db" placeholder="Search Database..." />
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body row pa-0" style="height:200px; overflow-y: auto;">
                    <table class="table table-hover mb-0">
                        <tbody>
                            <tr ng-repeat="itm in dblist | filter:search_db">
                                <td class="pa-5 ma-0">
                                    <div class="radio radio-warning">
                                        <input id="chkd_{{$index+1}}" type="radio" ng-click="getAllTable(itm)" ng-model="cid" value="{{itm.databaseId}}" name="dbList[]">
                                        <label for="chkd_{{$index+1}}" href="">
                                            {{itm.databaseName}}
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark"><i class="zmdi zmdi-collection-text mr-20"></i> Choose Table</h6>
                </div>
                <div class="pull-right col-sm-4">
                    <input type="text" class="form-control" ng-model="search_tbl" name="search_tbl" id="search_tbl" placeholder="Search Table..." />
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body row pa-0" style="height:200px; overflow-y: auto;">
                    <table class="table table-hover mb-0">
                        <tbody>
                            <tr ng-repeat="itm in tblist | filter:search_tbl">
                                <td class="pa-5 ma-0">
                                    <div class="radio radio-warning">
                                        <input id="chkt_{{$index+1}}" type="radio" ng-click="getAllTableColumn(itm)" ng-model="cid" value="{{itm.tableId}}" name="tlList[]">
                                        <label for="chkt_{{$index+1}}" href="">
                                            {{itm.tableName}}
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark"><i class="zmdi zmdi-grid mr-20"></i> Choose Columns</h6>
                </div>
                <div class="pull-right col-sm-4">
                    <input type="text" class="form-control" ng-model="search_clm" name="search_clm" id="search_clm" placeholder="Search Column..." />
                </div>
                <div class="pull-right">
                    <div class="checkbox checkbox-success">
                        <input type="checkbox" id="checkAll">
                        <label for="checkAll">
                            <strong>Check All</strong>
                        </label>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body row pa-0" style="height:190px; overflow-y: auto;">
                    <table class="table table-hover mb-0" id="checkboxes">
                        <tbody>
                            <tr ng-repeat="itm in colist | filter:search_clm">
                                <td class="pa-5 ma-0">
                                    <div class="checkbox checkbox-success">
                                        <input id="chkc_{{$index+1}}" type="checkbox" ng-click="getColumn(itm,checkbox_status)" ng-model="checkbox_status" ng-true-value="true" ng-false-value="false" name="coList[]" class="ctcolumn">
                                        <label for="chkc_{{$index+1}}" href="">
                                            {{itm.columnName}}
                                        </label>
                                    </div>
                                </td>
                                <td>{{itm.dataType}} <span ng-if="itm.maxLength>0">({{itm.maxLength}})</span></td>
                                <td>{{itm.isNullable}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Row -->
<!-- Row -->
<div class="row">
    <div class="col-lg-12 col-sm-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark mt-10"><i class="zmdi zmdi-code mr-20"></i>Generated Code</h6>
                </div>
                <div class="pull-right">
                    <button type="button" class="btn btn-sm btn-danger pull-right pb-10 ml-5" ng-click="generate()"><strong>GENERATE</strong></button>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="tab-struct custom-tab-2 mt-0">
                        <ul role="tablist" class="nav nav-tabs" id="myTabs_15">
                            <li class="active" role="presentation">
                                <a data-toggle="tab" id="views_tab_1" role="tab" href="#views" aria-expanded="false">HTML Views</a>
                            </li>
                            <li role="presentation" class="">
                                <a data-toggle="tab" id="angular_tab_1" role="tab" href="#angular" aria-expanded="false">AngularJS</a>
                            </li>
                            <li role="presentation" class="">
                                <a data-toggle="tab" id="csharp_tab_1" role="tab" href="#csharp" aria-expanded="false">WebAPI</a>
                            </li>
                            <li role="presentation" class="">
                                <a data-toggle="tab" id="model_tab_1" role="tab" href="#model" aria-expanded="false">Model</a>
                            </li>
                            <li class="" role="presentation">
                                <a aria-expanded="true" data-toggle="tab" role="tab" id="sql_tab_1" href="#sql">SQL</a>
                            </li>

                            <!--<li role="presentation" class="">
                                <a data-toggle="tab" id="node_tab_1" role="tab" href="#node" aria-expanded="false">NodeJS</a>
                            </li>-->
                        </ul>
                        <div class="tab-content" id="myTabContent_15">
                            <div id="views" class="tab-pane fade  active in" role="tabpanel" style="max-height:450px; overflow-y: auto;">
                                <pre class="pa-10" lang="html"><xmp id="genCodeVu"></xmp></pre>
                            </div>
                            <div id="angular" class="tab-pane fade" role="tabpanel" style="max-height:450px; overflow-y: auto;">
                                <pre class="pa-10" lang="sql"><xmp id="genCodeAngular"></xmp></pre>
                            </div>
                            <div id="csharp" class="tab-pane fade" role="tabpanel" style="max-height:450px; overflow-y: auto;">
                                <pre class="pa-10" lang="sql"><xmp id="genCodeAPI"></xmp></pre>
                            </div>
                            <div id="model" class="tab-pane fade" role="tabpanel" style="max-height:450px; overflow-y: auto;">
                                <pre class="pa-10" lang="cs"><xmp id="genCodeVm"></xmp></pre>
                            </div>
                            <div id="sql" class="tab-pane fade" role="tabpanel" style="max-height:450px; overflow-y: auto;">
                                <pre class="pa-10" lang="sql"><xmp id="genCodeSql"></xmp></pre>
                            </div>

                            <!--<div id="node" class="tab-pane fade" role="tabpanel" style="max-height:310px; overflow-y: auto;">
                                <pre class="pa-10" lang="sql"><xmp id="genCodeNode"></xmp></pre>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Row -->