@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Error</h2>

<div>
    <h4>Problem in Cinemaplex</h4>
    <hr />
    <p>Cinemaplex has run into an issue and cannot render the view.. Please navigate back to home or contact an Administrator if this keeps on happening.</p>
</div>
<div>
    <a asp-action="Index">Back to Home</a>
</div>
