<?xml version="1.0" encoding="utf-8"?>
<!-- 
///////////////////////////////////////////////////////////////
//
// This code is part of the AdventureWorks Data Binding sample.
//
// Copyright (c) Microsoft Corporation.  All rights reserved.
//
///////////////////////////////////////////////////////////////

-->
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AdWksSalesWinDataBind.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="AdventureWorksEntities"
         connectionString="metadata=res://*/AdventureWorks.csdl|res://*/AdventureWorks.ssdl|res://*/AdventureWorks.msl; 
	 provider=System.Data.SqlClient;provider connection string='Data Source=localhost;
	 Initial Catalog=AdventureWorks;Integrated Security=True;MultipleActiveResultSets=True'"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <AdWksSalesWinDataBind.Properties.Settings>
      <setting name="currentSalesTaxRate" serializeAs="String">
        <value>0.08</value>
      </setting>
      <setting name="currentFreight" serializeAs="String">
        <value>0.10</value>
      </setting>
    </AdWksSalesWinDataBind.Properties.Settings>
  </userSettings>
</configuration>