<div class="collapse navbar-collapse">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="/orders" class="nav-link text-white"
               style="cursor: pointer; font-size: 0.80rem;">
                Orders 
            </a>
        </li>
        <li class="nav-item">
            <button routerLink="/cart" class="nav-link text-white btn btn-primary"
                    style="cursor: pointer; font-size: 0.80rem;">
                <span class="fa fa-shopping-cart">:&nbsp;<span style="color: yellow">{{cart.itemCount}}</span>&nbsp;item(s)&nbsp;<span *ngIf="cart.itemCount > 0" style="color: yellow">{{cart.cartPrice | currency:"USD":true:"1.2-2"}}</span></span>
            </button>
        </li>
    </ul>        
</div>