<div *ngIf="orderSent" class="m-1 text-center">
    <h2>Thanks!</h2>
    <p>Thanks for placing your order.</p>
    <p>We'll ship your order as soon as we can</p>
    <button class="btn btn-primary" routerLink="/home">
        Return to Shop
    </button>
</div>

<div class="m-2 ml-5" *ngIf="!orderSent">
    <p>
        Please enter your shipping details
    </p>
    
    <form  novalidate #form="ngForm" (ngSubmit)=" submitOrder(form)">
        <strong>Ship to</strong>
        <div class="form-group row">
            <label class="col-form-label col-1">Name</label>
            <div class="col-6">
                <input #name="ngModel" name="name" class="form-control"
                       [(ngModel)]="order.name" required
                       placeholder="required" />
                <span *ngIf="submitted && name.invalid" class="text-danger">
                    Please enter your name
                </span>
            </div>
        </div>

        <strong>Address</strong>
        <div class="form-group row">
            <label class="col-form-label col-1">Street</label>
            <div class="col-6">
                <input #address="ngModel" name="street" class="form-control" 
                       [(ngModel)]="order.street" required
                       placeholder="required" />
                <span *ngIf="submitted && address.invalid" class="text-danger">
                    Please enter your street
                </span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-1">City</label>
            <div class="col-6">
                <input #city="ngModel" name="city" class="form-control" 
                       [(ngModel)]="order.city" required
                       placeholder="required" />
                <span *ngIf="submitted && city.invalid" class="text-danger">
                    Please enter your city
                </span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-1">Province</label>
            <div class="col-6">
                <input #province="ngModel" name="province" class="form-control" 
                       [(ngModel)]="order.province" required
                       placeholder="required" />
                <span *ngIf="submitted && province.invalid" class="text-danger">
                    Please enter your province
                </span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-1">Post Code</label>
            <div class="col-6">
                <input #postcode="ngModel" name="postcode" class="form-control" 
                       [(ngModel)]="order.postcode" required
                       placeholder="required" />
                <span *ngIf="submitted && postcode.invalid" class="text-danger">
                    Please enter your post code
                </span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-1">Email</label>
            <div class="col-6">
                <input #email="ngModel" name="email" class="form-control" 
                       type="email" [(ngModel)]="order.email" required 
                       placeholder="required" />
                <span *ngIf="submitted && email.invalid" class="text-danger">
                    Please enter an valid email
                </span>
            </div>
        </div>
        <div class="offset-1">
            <button class="btn btn-primary" routerLink="/cart">
                Back
            </button>
            <button class="btn btn-primary" type="submit">
                Complete Order
            </button>
        </div>
    </form>
</div>