<div class="container-fluid row">
    <div class="col-3 p-0">
        <img src="image/left.jpg" style="width: 100%;" alt="loading picture..." />
    </div>
    <div class="col-9">
        <h6 class="pt-3">Most Popular Non-clearance:</h6>
        <div class="row ml-2">
            <div *ngFor="let style of stylesPopolar" class="col-4 mt-3">
                <a class="pb-3 mb-3" style="text-decoration: none"
                   [routerLink]="['/styleDetail', style.categoryName, style.styleNo]">
                    <img src="{{style.imageSmall}}" />
                </a>
                <a style="font-size: 0.70rem"
                   [routerLink]="['/styleDetail', style.categoryName, style.styleNo]">
                    <p class="mb-0 text-muted">{{style.brandName | uppercase}}</p>
                    <strong style="color: black">{{style.styleName}} - {{style.gender}}</strong>
                    <p [clearance-class]="style.priceCurrent"
                       [price-regular]="style.priceRegular"></p>
                </a>
            </div>
        </div>

        <h6>Most Popular Clearance:</h6>
        <div class="row ml-2">
            <div *ngFor="let style of stylesClearance" class="col-4 mt-3">
                <a class="pb-3 mb-3" style="text-decoration: none"
                   [routerLink]="['/styleDetail', style.categoryName, style.styleNo]">
                    <img src="{{style.imageSmall}}" />
                </a>
                <a style="font-size: 0.70rem"
                   [routerLink]="['/styleDetail', style.categoryName, style.styleNo]">
                    <p class="mb-0 text-muted">{{style.brandName | uppercase}}</p>
                    <strong style="color: black">{{style.styleName}} - {{style.gender}}</strong>
                    <p [clearance-class]="style.priceCurrent"
                       [price-regular]="style.priceRegular"></p>
                </a>
            </div>
        </div>
    </div>
</div>