<div class="navbar navbar-toggleable-md navbar-inverse" style="background-color: #3B5998">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand text-white" style="cursor: pointer" 
       (click)="changeCategory()" routerLink="/home">
        Ski Shop Demo
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li *ngFor="let category of categories" [class]="getClasses(category)">
                <a class="nav-link text-white"
                   style="cursor: pointer; font-size: 0.80rem;"
                   (click)="changeCategory(category)"
                   [routerLink]="['/category', category, 1, 'none']">
                    {{category}}
                </a>
            </li>
        </ul>
    </div>
    <cart-summary></cart-summary>
</div>

