<div class="container-fluid row">
    <div class="col-3 bg-faded" style="font-size: 0.80rem">
        <p class="pt-3 mb-0 pl-2" style="font-weight: bold">
            SORT
        </p>
        <div class="btn-group-vertical mb-3 pl-3 pt-1">
            <label (click)="changeSort('from low to high')"
                   [class]="highlight(sort == 'from low to high')"
                   style="width: 110%; font-weight: 500">
                Price Low to High
            </label>
            <label (click)="changeSort('from high to low')"
                   [class]="highlight(sort == 'from high to low')"
                   style="width: 110%; font-weight: 500">
                Price High to Low
            </label>
        </div>
        
        <p class="pl-2 mb-1" style="font-weight: bold">
            FILTER
        </p>
        <p class="mb-0 mt-0 pl-3" style="font-weight: bold">
            Gender &nbsp;
            <a (click)="go()" style="cursor: pointer">
                <img src="image/go.png" style="width: 12%"/>
            </a>
        </p>
       
        <div class="btn-group-vertical pl-3 pt-1" >
            <label *ngFor="let gender of allGenders; let i = index"
                   [(ngModel)]="activeGenders[i]" btnCheckbox
                   [class]="highlight(activeGenders[i])" 
                   (click)="pickGender()"
                   style="width: 150%; font-weight: 500">
                {{gender}} ({{countGender(gender)}})
            </label>
        </div>
        
        <p class="mb-0 mt-1 pl-3" style="font-weight: bold">
            Ideal For &nbsp;
            <a (click)="go()" style="cursor: pointer">
                <img src="image/go.png" style="width: 12%" />
            </a>
        </p>
        <div class="btn-group-vertical mb-3 pl-3 pt-1">
            <label *ngFor="let idealFor of allIdealFors; let i = index"
                   [(ngModel)]="activeIdealFors[i]" btnCheckbox
                   [class]="highlight(activeIdealFors[i])" 
                   (click)="pickIdealFor()"
                   style="width: 100%; font-weight: 500" >
                {{idealFor}} ({{countIdealFor(idealFor)}})
            </label>
        </div>
    </div>

    <div class="col-9">
        <div class="row ml-2">
            <div *ngFor="let style of stylesPerPage" 
                 class="col-4 mt-3">
                <a [routerLink]="['/styleDetail', style.categoryName, style.styleNo]" 
                   class="pb-3 mb-3" 
                   style="text-decoration: none; cursor: pointer">
                    <img src="{{style.imageSmall}}" />
                </a>
                <a [routerLink]="['/styleDetail', style.categoryName, style.styleNo]"
                   style="font-size: 0.70rem;">
                    <p class="mb-0 text-muted">{{style.brandName | uppercase}}</p>
                    <strong style="color: black">{{style.styleName}} - {{style.gender}}</strong>
                    <p [clearance-class]="style.priceCurrent"
                       [price-regular]="style.priceRegular"></p>
                </a>
            </div>
        </div>
        <div class="btn-group float-right">
            <button *pagenation="let page of pageCount" (click)="changePage(page)"
                    class="btn btn-outline-primary btn-sm" [class.active]="page==selectedPage">
                {{page}}
            </button>
        </div>  
    </div>
</div>