body
{
    font-family: Cambria, Segoe UI;
    font-size: 18px;
    min-height:1000px;
    
    background: #eaeef7; /* Old browsers */
    background: -moz-linear-gradient(top,  #eaeef7 0%, #d2ddf0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeef7), color-stop(100%,#d2ddf0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #eaeef7 0%,#d2ddf0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #eaeef7 0%,#d2ddf0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #eaeef7 0%,#d2ddf0 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #eaeef7 0%,#d2ddf0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeef7', endColorstr='#d2ddf0',GradientType=0 ); /* IE6-9 */



}

h1
{
    font-size: 22px;
}

#header
{
    background-image: url(/images/title-line.jpg);
    background-repeat: repeat-x;
    width: 100%;    
}

#content
{
    padding-left:30px;    
}


#sew_resultView
{
    background-color:white;

}

.sew_header, .sew_footer
{
    margin-left:0px;
    margin-right:0px;
}