<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="NtierMvc.Connection" 
         connectionString="Data Source=YourSQLDataSource;Initial Catalog=NtierMvcDB;Integrated Security=False;user id=YourUserId;pwd=YourPassword;Connection Timeout=30;" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- The currently applied connection -->
    <add key="CurrentAppConnection" value="NtierMvc.Connection" />
    <add key="EnableLogging" value="True" />
    <add key="LoggingPath" value="D:\LoggingData" />
  </appSettings>
</configuration>