<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CrudWithLinq.Properties.Settings.StudentsConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Students.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CrudWithLinq.Properties.Settings.StudentsConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\CrudWithLinq\bin\Debug\Students.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>