@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>N-Tier MVC</h2>
    <p class="lead">Sample ASP.NET MVC 5 web app applying N-Tiers Architecture Style!</p>
    <p><a href="~/Employees/ListAll" class="btn btn-primary btn-lg">List All Employees</a></p>
</div>