body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 5px;
    padding-right: 5px;
}

/* Override the default bootstrap behavior where horizontal description lists
will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
max-width: 280px;
}*/


.bodyDiv {
    width: 100%;
    background-color: #DADADA;
    border-radius: 0 !important;
    font-size: 15px !important;
}

.search-Box {
    position: relative;
    margin-top:5px;
    width: 100%;
}

.search {
    width: 50%;
}

.modal-title {
    text-align: center;
}

input[type=text], input[type=email], input[type=url], input[type=search], input[type=date], textarea {
    display: inline-block;
    vertical-align: top;
    padding: 0 8px;
    height: 33px;
    line-height: 19px;
    color: #626262;
    background: white;
    border: 2px solid #d9d9d9;
    border-radius: 2px;
}

.addPannelText {
    width: 95%;
}

.addressPannel {
    height: 100px !important;
}

.modal-body {
    height: 480px;
    overflow-y: scroll;
}

.button {
    width: 90px;
    line-height: 33px;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    height: 33px;
    line-height: 1;
    padding: 0 16px;
    font-size: 13px;
    color: #243140;
    text-align: center;
    text-shadow: 0 1px rgba(255,255,255,0.2);
    background: #e5e7ed;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.tblbutton {
    display: inline-block;
    vertical-align: top;
    height: 15px;
    text-decoration: none;
    line-height: 1;
    font-size: 13px;
    color: #243140;
    text-align: center;
    text-shadow: 0 1px rgba(255,255,255,0.2);
    background: #e5e7ed;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.tblbutton:hover {
    text-decoration: none;
}


.button-red {
    color: white !important;
    text-shadow: 0 1px rgba(0,0,0,0.08);
    background: #ee4f3d !important;
}

.button-green {
    color: white !important;
    text-shadow: 0 1px rgba(0,0,0,0.08);
    background: #4ebd4a !important;
}

.button-blue {
    color: white !important;
    text-shadow: 0 1px rgba(0,0,0,0.08);
    background: #3061A3 !important;
}

.button-grey {
    color: white !important;
    text-shadow: 0 1px rgba(0,0,0,0.08);
    background: #3c3c3c !important;
}

.button-orange {
    color: white !important;
    text-shadow: 0 1px rgba(0,0,0,0.08);
    background: #FF9900 !important;
}

.tableButton {
    cursor: pointer;
}
/* Flaired edges, by Tomas Theunissen */

/* Flaired edges, by Tomas Theunissen */

hr.style-seven {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

hr.style-seven:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}


.addressTbl {
    text-overflow: ellipsis;
}

.CSSTableGenerator {
	margin:0px;padding:0px;
	width:104%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;

	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;

	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;

	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;

	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;

	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{

}
.CSSTableGenerator tr:nth-child(odd){ background-color:#aad4ff; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }.CSSTableGenerator td{
	vertical-align:middle;


	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);

	background-color:#005fbf;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);

	background-color:#005fbf;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

.modelHeaderDelete
{
    background-color:#ee4f3d;
}

.modelHeaderAddNew
{
    background-color:#4ebd4a;
}

.modelHeaderUpdate
{
     background-color:#faa226;
}
