@model EditUserViewModel
@using IdentitySampleApplication.Models

<form asp-action="EditUser" role="form">
    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "Edit User" })
    <div class="modal-body form-horizontal">
        <div class="row">            
            <div class="form-group">
                <label asp-for="Name" class="col-lg-3 col-sm-3 control-label"></label>
                <div class="col-lg-6">
                    <input asp-for="Name" class="form-control" />
                </div>
            </div>            
            <div class="form-group">
                <label asp-for="Email" class="col-lg-3 col-sm-3 control-label"></label>
                <div class="col-lg-6">
                    <input asp-for="Email" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label asp-for="ApplicationRoleId" class="col-lg-3 col-sm-3 control-label"></label>
                <div class="col-lg-6">
                    <select asp-for="ApplicationRoleId" asp-items="@Model.ApplicationRoles" class="form-control">
                        <option>Please select</option>
                    </select>
                </div>
               </div>
            </div>
    </div>
    @await Html.PartialAsync("_ModalFooter", new ModalFooter { })
</form>















