<script src="~/Scripts/jquery-1.7.1.js"></script>
<script type="text/javascript">

    //Load the students in the List and displays when the documnet is loaded
    $(document).ready(function () {
        jQuery.support.cors = true;
        $.ajax({
            url: '/api/student',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                WriteResponses(data);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });

        //Displays in a Table
        function WriteResponses(students) {
            var strResult = "<table><th>Name</th><th>Student ID</th><th>Gender</th><th>Age</th>";
            $.each(students, function (index, student) {
                strResult += "<tr><td>" + student.name + "</td><td> " + student.id + "</td><td>" + student.gender + "</td><td>" + student.age + "</td></tr>";
            });
            strResult += "</table>";
            $("#divResult").html(strResult);
        }

    });

    //Get a Particular Student based on ID
    function GetStudent() {
        jQuery.support.cors = true;
        $.ajax({
            url: 'http://localhost:60792/api/student/' + document.getElementById('studentId').value,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                WriteResponse(data);
            },
            error: function (x, y, z) {
                alert('The Student not found in the List for the given ID');
            }
        });

        function WriteResponse(student) {
            document.getElementById('name').innerHTML = "<h3>" + student.name + "</h3>";
            document.getElementById('id').innerHTML = "<h3>" + student.id + "</h3>";
            document.getElementById('gender').innerHTML = "<h3>" + student.gender + "</h3>";
            document.getElementById('age').innerHTML = "<h3>" + student.age + "</h3>";
        }
    }

    //Adds a Student to the List
    function AddStudent() {
        var student = {
            name: document.getElementById('newStudentName').value,
            id: document.getElementById('newStudentId').value,
            gender: document.getElementById('newStudentGender').value,
            age: document.getElementById('newStudentAge').value
        };

        $.ajax({
            url: 'http://localhost:60792/api/student/',
            type: 'POST',
            data: JSON.stringify(student),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                alert('Student added Successfully');
                GetAllStudents();
            },
            error: function () {
                alert('Student not Added');
            }
        });
    }

    //Updates the student Details in the List
    function PutStudent() {
        var student = {
            name: document.getElementById('newStudentName').value,
            id: document.getElementById('newStudentId').value,
            gender: document.getElementById('newStudentGender').value,
            age: document.getElementById('newStudentAge').value
        };

        $.ajax({
            url: 'http://localhost:60792/api/student/' + document.getElementById('newStudentId').value,
            type: 'PUT',
            data: JSON.stringify(student),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                alert('Details Updated Successfully');
                GetAllStudents();
            },
            error: function () {
                alert('Unable to Update for the Given ID');
            }
        });
    }

    function GetAllStudents() {
        jQuery.support.cors = true;
        $.ajax({
            url: 'http://localhost:60792/api/student',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                WriteResponses(data);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });

        //Displays in a Table
        function WriteResponses(students) {
            var strResult = "<table><th>Name</th><th>Student ID</th><th>Gender</th><th>Age</th>";
            $.each(students, function (index, student) {
                strResult += "<tr><td>" + student.name + "</td><td> " + student.id + "</td><td>" + student.gender + "</td><td>" + student.age + "</td></tr>";
            });
            strResult += "</table>";
            $("#divResult").html(strResult);
        }
    }

</script>

<h1 style="color: #f00">List of students </h1>
<div id="divResult" style="margin-left: 15px"></div>

<div>
    <h1 style="color: #f00">Get a Student </h1>
</div>
<div style="margin-left: 15px">
    <h3>Enter the Student ID:</h3>
    <input id="studentId" type="text" />
    <button id="GetStudent" onclick="GetStudent()">Get Student</button>
</div>
<div style="margin-left: 15px">
    <table>
        <tr>
            <td>
                <h3>Name</h3>
            </td>
            <td><span id="name"></span></td>
        </tr>
        <tr>
            <td>
                <h3>ID</h3>
            </td>
            <td><span id="id"></span></td>
        </tr>
        <tr>
            <td>
                <h3>Gender</h3>
            </td>
            <td><span id="gender"></span></td>
        </tr>
        <tr>
            <td>
                <h3>Age</h3>
            </td>
            <td><span id="age"></span></td>
        </tr>
    </table>
</div>
<div>
    <h1 style="color: #f00">Add or Update a Student </h1>
    <table style="margin-left: 15px">
        <tr>
            <td><span>Name</span></td>
            <td>
                <input id="newStudentName" type="text" /></td>
        </tr>
        <tr>
            <td><span>ID</span></td>
            <td>
                <input id="newStudentId" type="number" /></td>
        </tr>
        <tr>
            <td><span>Gender</span></td>
            <td>
                <select id="newStudentGender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select></td>
        </tr>
        <tr>
            <td><span>Age</span></td>
            <td>
                <input id="newStudentAge" type="number" /></td>
        </tr>
        <tr>
            <td>
                <button id="postStudent" onclick="AddStudent()">Add New Student</button></td>
            <td>
                <button id="putStudent" onclick="PutStudent()">Update Student</button></td>
        </tr>
    </table>
</div>
