<h1 [@fadeIn]='animStatus'>ASP.NET Core,Angular2 CRUD with Animation using Template Pack, WEB API and EF 1.0.1  </h1>
<div class="column">
    <div style="background-color:#0094ff;color:#FFFFFF;font-size:xx-large;width:340px;height:50px;text-shadow:  -2px -1px 0px #000,
         0px -1px 0px #000,
         1px -1px 0px #000,
        -2px  0px 0px #000,
         1px  0px 0px #000,
        -2px  1px 0px #000,
         0px  1px 0px #000,
         1px  1px 0px #000;text-align:center;display:inline-block;
                              border-color:#a2aabe;border-style:dashed;border-width:2px;" [@moveBottom]='moveBottom'>
        ASP.NET  Angular2
    </div>
    <div style="background-color:#ff00dc;color:#FFFFFF;font-size:xx-large;width:340px;height:50px;text-shadow:  -2px -1px 0px #000,
         0px -1px 0px #000,
         1px -1px 0px #000,
        -2px  0px 0px #000,
         1px  0px 0px #000,
        -2px  1px 0px #000,
         0px  1px 0px #000,
         1px  1px 0px #000;text-align:center;display:inline-block;
                              border-color:#a2aabe;border-style:dashed;border-width:2px;" [@moveTop]='moveTop'>
        CRUD
    </div>
    <div style="background-color:#3ab64a;color:#FFFFFF;font-size:xx-large;width:340px;height:50px;text-shadow:  -2px -1px 0px #000,
         0px -1px 0px #000,
         1px -1px 0px #000,
        -2px  0px 0px #000,
         1px  0px 0px #000,
        -2px  1px 0px #000,
         0px  1px 0px #000,
         1px  1px 0px #000;text-align:center;display:inline-block;
                              border-color:#a2aabe;border-style:dashed;border-width:2px;" [@moveRight]='moveRight'>
        Animation
    </div>
</div>
<div class="column">
    <h2>Created by : </h2>
    <div style="background-color:#ff6a00;color:#FFFFFF;font-size:xx-large;width:320px;height:50px;text-shadow:  -2px -1px 0px #000,
         0px -1px 0px #000,
         1px -1px 0px #000,
        -2px  0px 0px #000,
         1px  0px 0px #000,
        -2px  1px 0px #000,
         0px  1px 0px #000,
         1px  1px 0px #000;text-align:center;
                              border-color:#a2aabe;border-style:dashed;border-width:2px;" [@movelLeft]='movelLeft'>
        {{myName}}
    </div>
</div>