@{
    ViewBag.Title = "Home Page";
}
<h1>MVC Authentication and Authorization -  Creating User Roles</h1>
<h2>We will see how to</h2>
<h3>* Create default Admin Role and Other Roles</h3>
<h3>* Create default Admin Users</h3>
<h3>* Add Username for New User Registration</h3>
<h3>* Select User Role during User Registration</h3>
<h3>* Change Login Email with User Name</h3>
<h3>* Display Role Creation Menu only for Admin User</h3>
<h3>* Display message for Normal user</h3>
<h3>* Redirect Unauthenticated users to default home page</h3>