<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EventStore.Client" version="3.0.1" targetFramework="net46" userInstalled="true" />
  <package id="Glimpse" version="1.8.1" targetFramework="net46" userInstalled="true" />
  <package id="NServiceBus" version="5.2.0" targetFramework="net46" userInstalled="true" />
  <package id="NServiceBus.Host" version="6.0.0" targetFramework="net46" userInstalled="true" />
  <package id="NServiceBus.Unity" version="6.1.1" targetFramework="net46" userInstalled="true" />
  <package id="Unity" version="3.5.1405-prerelease" targetFramework="net46" userInstalled="true" />
  <package id="Unity.Interception" version="3.5.1404" targetFramework="net46" userInstalled="true" />
</packages>