<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="2fe0e774-7e43-47ab-a946-24592d52954b" Publisher="CN=cstein" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Bing Maps C# GPX Route Viewer Sample</DisplayName>
    <PublisherDisplayName>Microsoft</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="GPXRouteViewerSample.App">
      <VisualElements DisplayName="Bing Maps C# GPX Route Viewer Sample" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="The Bing Maps C# GPX Route Viewer Sample shows how to read in a GPX file and display its contents on the map as a route." ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>