@{
    ViewBag.Title = "Index";
}

<h2>Examples</h2>
<br />
<br />
@Html.ActionLink("Date sample", "DateTimeSample")<br />
@Html.ActionLink("Comparison sample", "ValueComparisonSample")<br />
@Html.ActionLink("RequiredIf sample", "RequiredIfSample")