<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- AAL config settings-->
    <!-- URL of the ACS namespace -->
    <add key="Tenant" value="https://humongousinsurance.accesscontrol.windows.net"/>  
    <!-- Realm of the relying party app configured in ACS namespace -->
    <add key="ServiceRealm" value="urn:shipperservice:interactiveauthentication"/>
    <!-- URL of the service (resource, relying Party) -->
    <add key="TargetService" value="http://localhost:34000/Interactive"/>
    <!-- Token cache config settings-->
    <add key="TokenCacheClockSkewInSeconds" value="30"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
