<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <sectionGroup name="wopiHostSettings">
      <section name="sampleUrls"
               type="System.Configuration.DictionarySectionHandler" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version"
         value="3.0.0.0" />
    <add key="webpages:Enabled"
         value="false" />
    <add key="ClientValidationEnabled"
         value="true" />
    <add key="UnobtrusiveJavaScriptEnabled"
         value="true" />
    <add key="appSampleLink"
         value="test.docx" />
    <add key="appDiscoveryXml"
         value="~/App_Data/Discovery.xml" />
    <add key="appWopiServer"
         value="http://wopihost.wingtip.com:8888/api/wopi/files/" />
    <add key="appHmacKey"
         value="Dbh1zG6OvhISvBNHqLDDWIF7Nvwdf2iTJEkv04sH8rTjzfiROd4WJunI0yP+Amd3K2MqMa4rphNYGTd1XzV8tA==" />

    <add key="updateEnabled"
         value="true" />
  </appSettings>

  <wopiHostSettings>
    <sampleUrls>
      <add key="1"
           value="test.docx" />
      <add key="2"
           value="test.xlsx" />
      <add key="3"
           value="test.pptx" />
    </sampleUrls>
  </wopiHostSettings>

  <system.web>
    <compilation debug="true"
                 targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0"
           path="*."
           verb="*"
           type="System.Web.Handlers.TransferRequestHandler"
           preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers"
                          publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0"
                         newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc"
                          publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0"
                         newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization"
                          publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0"
                         newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages"
                          publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0"
                         newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease"
                          publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234"
                         newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
