<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="connectionStringName" providerName="System.Data.SqlClient"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Farmacia;Integrated Security=True;Pooling=False;Asynchronous Processing=true" />
  </connectionStrings>
</configuration>