
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Charts Using Chart.Js</h2>
<div class="col-lg-12">
    <div class="row">
        <div class="form-group">
            @Html.ActionLink("Bar Chart", "Index", "BarChart")
            <canvas id="barChart" width="400" height="150"></canvas>
        </div>
    </div>
    <div class="row">
        @Html.ActionLink("Donut Chart", "Index", "Donut")
        <canvas id="donutChart" width="400" height="150"></canvas>
    </div>
    <div class="row">
        @Html.ActionLink("Line Chart", "Index", "LineChart")
        <canvas id="lineChart" width="400" height="150"></canvas>
    </div>
</div>
@section scripts {
    <script src="~/Scripts/Chart.js"></script>
    <script src="~/Scripts/Common.js"></script>
    <script>

        //-------------------Bar Chart---------------------------------
        var c = document.getElementById("barChart");
        var ctx = c.getContext("2d");
        var tData = $.getValues("/BarChart/BarChartData");
        var myBarChart = new Chart(ctx, {
            type: 'bar',
            data: tData
        });
        //-------------Donut Chart----------------------------------
        var c = document.getElementById("donutChart");
        var ctx = c.getContext("2d");
        var tData = $.getValues("/Donut/DonutChartData");
        var myDoughnutChart = new Chart(ctx, {
            type: 'doughnut',
            data: tData,
        });

         //-------------Line Chart----------------------------------
        var c = document.getElementById("lineChart");
        var ctx = c.getContext("2d");
        var tData = $.getValues("/LineChart/LineChartData");
        var myLineChart = new Chart(ctx, {
            type: 'line',
            data: tData
        });
    </script>
}