@using WebApplication.Extensions
@{
    ViewBag.Title = "Examples";
    ViewBag.SubTitle = "Lockscreen";
}

@section Menu {
    @Scripts.Render("~/Scripts/Examples/Lockscreen/menu")
}

<div class="hold-transition lockscreen">
    <div class="lockscreen-wrapper">
        <div class="lockscreen-logo">
            <a href="@Url.Action("DashboardV1", "Home")"><b>Web</b>Application</a>
        </div>
        <div class="lockscreen-name">@User.Identity.GetUserNameIdentifier()</div>
        <div class="lockscreen-item">
            <div class="lockscreen-image">
                <img src="~/AdminLTE/dist/img/user.svg" alt="User Image">
            </div>
            <form class="lockscreen-credentials">
                <div class="input-group">
                    <input type="password" class="form-control" placeholder="password">
                    <div class="input-group-btn">
                        <button type="button" class="btn"><i class="fa fa-arrow-right text-muted"></i></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="help-block text-center">
            Enter your password to retrieve your session
        </div>
        <div class="text-center">
            <a href="@Url.Action("Login", "Account")">Or sign in as a different user</a>
        </div>
        <div class="lockscreen-footer text-center">
            Copyright &copy; 2014-2015 <b><a href="http://almsaeedstudio.com" class="text-black">Almsaeed Studio</a></b><br>
            All rights reserved
        </div>
    </div>
</div>

