<!DOCTYPE html>
<html ng-app="mainApp" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>AngularJs路由演示</title>
    <script src="/Scripts/angular.min.js"></script>
    <script src="/Scripts/angular-route.js"></script>
    <script src="/Scripts/App/controllers/homeController.js"></script>
    <script src="/Scripts/App/services/services.js"></script>
    <script src="/Scripts/App/directives/directives.js"></script>
    <script src="/Scripts/App/filters/filter.js"></script>
</head>
<body>
    <div><a href="#/list">列表</a></div>
    <br/>
    <div ng-view>
    </div>
    <script src="/Scripts/App/appmain.js"></script>
</body>
</html>
