<!DOCTYPE html>
<html ng-app="mainApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Template Demo</title>
    <script src="/Scripts/angular.min.js"></script>
    <script src="/Scripts/angular-route.js"></script>
    <script src="/Scripts/App/controllers/homeController.js"></script>
    <script src="/Scripts/App/services/services.js"></script>
    <script src="/Scripts/App/directives/directives.js"></script>
    <script src="/Scripts/App/filters/filter.js"></script>
</head>
<body>
    <h2>AngularJS 模块演示</h2>
    <!--<div ng-controller="tempController" ng-app="mainApp">
        <div>{{val}}</div>
    </div>-->

    <div ng-controller="tempController">
        <div><input type="text" ng-model="val"></div>
    </div>
    <script src="/Scripts/App/appmain.js"></script>
</body>
</html>
