<div fxFlex style="padding:10px;">

    <div class="container"
         fxLayout.lt-md="column"
         fxLayoutGap="10px">
        <div fxFlex="50" #chartContainer>
            <mat-card fxFlex>
                <div class="chart" id="chartBirthrate" style="width:100px;"></div>
            </mat-card>
        </div>
        <div fxFlex="50">
            <mat-card fxFlex>
                <div class="chart" id="chartHDI" style="width:100px;"></div>
            </mat-card>
        </div>
    </div>

    <div class="container"
         fxLayout.lt-md="column"
         style="margin-top:10px;"
         fxLayoutGap="10px">
        <div fxFlex="50">
            <mat-card fxFlex>
                <div class="chart" id="chartInternetusers" style="width:100px;"></div>
            </mat-card>
        </div>
        <div fxFlex="50">
            <mat-card fxFlex>
                <div class="chart" id="chartGDP" style="width:100px;"></div>
            </mat-card>
        </div>
    </div>

</div>