
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Bar Chart Examples</h3>
<div class="col-lg-12">
    <div class="row">
        <div class="form-group">
            <label>Bar Chart</label>
            <canvas id="barChart" width="400" height="150"></canvas>
        </div>
    </div>
</div>
<div class="col-lg-12">
    <div class="row">
        <label>Multi Bar Chart</label>
        <canvas id="MultibarChart" width="400" height="150"></canvas>
    </div>
</div>
@section scripts {
    <script src="~/Scripts/Chart.js"></script>
    <script src="~/Scripts/Common.js"></script>
    <script>

        //-----Single Bar --------------
        var c = document.getElementById("barChart");
        var ctx = c.getContext("2d");
        var tData = $.getValues("/BarChart/BarChartData");
        var myBarChart = new Chart(ctx, {
            type: 'bar',
            data: tData
        });

        //-----Single Bar --------------
        var c = document.getElementById("MultibarChart");
        var ctx = c.getContext("2d");
        var tData = $.getValues("/BarChart/MultiBarChartData");
        var myBarChart = new Chart(ctx, {
            type: 'bar',
            data: tData
        });

    </script>
}

