@model PDM.Model.ProductCategory
@{
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        OnSuccess = "OnSuccess",
        UpdateTargetId = "tableBody",
        LoadingElementDuration = 1000
    };
}
<div class="row top-buffer" id="addCategory" style="display:none">
    @using (@Ajax.BeginForm("Create", "ProductCategory", ajaxOptions))
    {
        <div class="col-sm-5">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @id = "txtProductCategoryName", @placeholder = "Category Name" })
            @Html.ValidationMessageFor(m => m.Name)
        </div>
        <div class="col-sm-3">
            <button type="submit" value="submit" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span> Create</button>
        </div>
    }
</div>





