@page
@model SelectPdf.Samples.Pages.ViewHttpPostDataModel
@{
    Layout = "~/Pages/_Layout.cshtml";
    ViewData["Title"] = "SelectPdf Free Html To Pdf Converter for .NET Core - Helper Page - View HTTP Posted Parameters - C# / ASP.NET Core MVC6";
    ViewData["Description"] = "SelectPdf Helper Page - View HTTP Posted Parameters. C#/ASP.NET Core MVC6 Sample. Pdf Library for .NET with full sample code in C# and VB.NET.";
    ViewData["Keywords"] = "http headers, pdf library, sample code, html to pdf, pdf converter";
}

<article class="post type-post status-publish format-standard hentry">
    <header class="entry-header">
        <h1 class="entry-title">SelectPdf Free Html To Pdf Converter for .NET Core - Helper Page - View Posted Parameters Headers - C# / ASP.NET Core MVC6 Sample</h1>
    </header>
    <!-- .entry-header -->

    <div class="entry-content">
        <p>
            This page shows the HTTP POST variables sent to it:
            <br />
            @Html.Raw(ViewData["PostDataValue"])
        </p>
    </div>
    <!-- .entry-content -->
</article>
<!-- #post -->
