<?xml version="1.0"?>
<!-- 
8D8D888IOZOZ$$ZDII+~?Z$ZZOZI=~:,,,,,,,,,,,,::::,,:,,,,:,,,,:~IZZI+77Z$Z$I+~:..,M
8DD888OOZ$7777$OII?=:?7ZZ7$$7+~:,,,,,,,,,,,,,,,,,,,,,,,,,,,~?7Z7=?I$$$+~=~:,,,,M
D888OOOOO$III?I77II?~:INZZZ7$7+=~:,,,,.+,,,,,,+,,,,,,,,,,:=I$Z?~+?$$Z7,.~,.,..,M
DD88888Z$$7????$OIII?=:?$O77I?++::..~?7?~.,,=,,:,,,,,,,,:=?+==::?7ZZ7+=:......,M
88DDOO88OZ7I++=$78III?+~:I$Z8ZOOOOOZ?888O8ZZ8+?,,,,,,,,,,:,,,:~I$Z$?~,........,M
OO8D8OO88OZ7I?Z$7$$III??=::?$NNNNNNNDO?D:+OOZZZZ,,,.I,,,,,,,~=?$$I~:,...,,,....M
=Z8DDOOZO8OZ7ZD$$7$8IIII??~:,=?NNNDDDDDO7~:+8ZZZ8:,,7,,,,,:~=++=::,...~~==+I7$+M
Z$$8DO$$ZOO8Z8N$$$I?$7III??+:,~?NNDDDDDDNI::+OZZ,,,7,,,,,,,,,,,,,...,::=IIII7$OM
I??7O$77$ZZZ$ZZZ$$$7+778II??+=:~DNDDDDDDDD$:::OZZ78I7,,,,,,,,,.,,:~+??+=====?$IM
I7I?ZZ7II7$$Z$Z8$$$$7I~778????~:8NDDDNNNMMN$:::OZZZ$$,,,,,:::,:~=+~=+I7$$ZZ$I~ZM
ZOZI?$$IIIII77I?O7$7777I=:778I+~NNDDDDDD==~7N+::OZ8:I,::~~==???==+???+????++7Z7M
$ZO$I7$7IIII7+~~::7777777I+~:?7$NNDDDDDDN$+~8ND::=::$,:::::~~=?I7II??+~+I7ZZ$$$M
~7OO8Z$$7IIIII???+~~$7777777I+:,$NDDDDDDDI77O88DNMO?D,::====~~=+??==++?I?=I7777M
?7ZZOZZ7$$IIII?++=+~=7$7777777?~7NDDDDD8O77I888DD~~=DZ?,~=~~==~~::~++?$I?7++II7M
7$$777ZOZZZZ$$7I?+?I7$$8D777777I$NDDDD8D87=:::,,:$~~+,=?I8=====~~=+:=$?$77?+???M
777$$Z$$$ZOOOZ7?,,+7=~:OII?=NOIINNDDDD8?::~:,,,:,:88+=~:,,~++77~~:IZ+O?I777??IIM
$ZZZZZZ$$$ZZZZZ$~~+I+=:$II?:::MNN88D88D:~~::~::~::Z8++++==~~:::~====7+=?77?I77+M
8OZZZZZZZ$7??+==+=++++~7?I~::::::D888D$$Z$I?==?Z~~8D$+?????++++++++$~~~=I7II+?ZM
ZZO8OZ7II7??==+=~~:::~=III::::::::D8Z:::::::::$?$=8:,+$8$?+++++++?~~:~~::?7I?+$M
OO8Z$I????+I+??+?++??I7??:III?Z::::7:::::::::~N::D7II?+===+???I7~~,~:=:::~=I77$M
ZZO$I???????+==+????I7I?DIIIIN??D::7:::::::::DN:::I7777777IIII?~=:::~~,.,~=?=I$M
$O$$$7?+=+??????+=~==Z~NIIIID8I???7~:,,:::::DN$::8$8NOI7777II,,,~~:::~,,:~=?+~+M
887I7$7++???I?I?+++=O:DNIII?NI??????OZZZZZOO8N~:?$888OZI=~~~:::,,:~::~:.:~++I77M
88$I?I?=?I?+===+?++?~DNDIIINN?I???????OZZZZ8ZZN:88O8888O?+===:~~~::~~,=:,,:~==?M
8Z7I?II???I?????+II7ZDNIIIDN$??????????7ZZ8ZZODN8888888O$?~~~~~==~~~~:?~,,:=+++M
$77?IIIII?=+???++I7ZZMDIIINN?II?~:::::::$:::::O8888888887+==~~~~~~~~~~7?==+?I??M
I?I?????+++??+=+I7ZZONIIINNN::::::::::::N::::~DI88888O8D$?+=~===~~~~:?$?II?III$M
?I?+++==+??III??I$ZZNNII8NN$:::::::::::N?::::IDZOOD8888DZ?+====~~~:~I7IIII7$+~:M
I7$$7I=~=+$OOOI7OZO8ND7~NNN:~~~~::::::NN:::::D+D88O8888DO7I8.......,D$$777Z7~+:M
ZOO8OOOO,,,,,,,,8ZZNNI~DNNN~~~~~~~:::8NM:::::D88888OOO88D=....,,,,,,..877$$7=~~M
O$$8N,,:::::,,,,,,NNO~ONMN=:$NMNNNNNNNNNMMMMMNMMMMNNN88:..,,,,.........I$Z$+~~:M
7?77,:,:,,,,,,:I8MMMMMMMMMMMMMM87?I7ZZOODDNNNNNNNNNNNN,.,,,,...........,DO7?=::M
?O,,,,,,,,NDMMD8DNNMMMMMM8=+I$O8NNNMMMMMMMMMMMMMNNNN?..,,,,.............:ZOZ?=~M
D,,,,,,:8O+?$8NMMMMMMMMM+?$8NNMMMMMMMMMMMMMMMMMNNNNO.,,,.....,..,....,...DZ8O7=M
,:,,,IOOI7ZZMMMMMMMMMM$ZDNMMMMMMMMMMMMMMMMMMMMNNNN~.,,,,.,.,,,NNNNNNMNMO.7$ZO88M
,,,,OO7$OO88MMMMMMMMMDMMMMMMMMMMMMMMMMMMMMNDOOOOZ8,,,,,.,,,.NNNNMMMMMMMMMMDZZZ7M
::DO$ZOO8888MMMMMMMMMMMMMMMMMMMMMMNDOOOOOOOOOOOZ$,,,,,,,,,NNNNMMMMMMMMMMMMMMMMMM
,DZZO8888888DMMMMMMMMMMMMMMMMN8888OOOOOOOOOOOOZZ,,,,,,,,,DNNNNMMMMMMMMMMMMMMMMMM
DO88888888888MMMMMMMMMMN88888888OOOOOOOOOOOOOOZ:,,,,,,,~NNNNMMMMMMMMMMI~++IIZZOM
8888888888888DMMMMMN88888888888OOOOOOOOOOOOOOZ$,,,,,,,ZDNNNNMMMMMMMM=?I$O8NNMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <appSettings>
    <add key="Code" value="!!OPEN SOURCE PROJECT!!"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <identity impersonate="false" userName="" password=""/>
    <httpRuntime requestValidationMode="2.0" executionTimeout="120" maxRequestLength="4096" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100"/>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <pages validateRequest="false" enableEventValidation="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.

            Visual Basic options:
            Set strict="true" to disallow all data type conversions 
            where data loss can occur. 
            Set explicit="true" to force declaration of all variables.
        -->
    <compilation debug="false" strict="true" explicit="true" targetFramework="4.0">
      <compilers>
        <compiler type=".NET Type" compilerOptions="/optimize+ /removeintchecks+ /out:cms.dll"/>
      </compilers>
    </compilation>
    <customErrors mode="Off"/>
    <!-- Warning: Do not change this value! Error handling is under control of the web application. If you change this value, the pseudo static links will generate a 404 error -->
    <!--<httpModules>
      <remove name="Session" />
      <add name="Session" type="AspNet.SessionState.CustomSessionStateModule" />
    </httpModules>-->
  </system.web>
  <location path="ClientBin">
    <system.web>
      <pages enableSessionState="false"/>
    </system.web>
  </location>
  <location path="Resources">
    <system.web>
      <pages enableSessionState="false"/>
    </system.web>
  </location>
  <system.webServer>
    <staticContent>
      <clientCache cacheControlMode="UseExpires" httpExpires="Mon, 02 May 2072 00:00:00 GMT"/>
    </staticContent>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1"/>
      <error statusCode="404" prefixLanguageFilePath="" path="/default.aspx" responseMode="ExecuteURL"/>
    </httpErrors>
  </system.webServer>
</configuration>