@model IEnumerable<string>

@{
    ViewBag.Title = "All Speakers";
}

<h2>Speakers</h2>

<ul>
    @foreach (var speaker in Model)
    {
        <li>@Html.ActionLink(speaker, "SessionsBySpeaker", new { speaker })</li>
    }
</ul>