@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript">


    (function poll(){
        setTimeout(function () {
            $.ajax({
                url: '@Url.Action("GetMessage")',
                success: function (data) {
                    $("#pMessages").text(data);

                    poll();
                }})
                }, 5000);
                })();
</script>

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Press the button below to send a message to the web role.</p>
    <p><input type="button" title="Send Message" value="Send Message" onclick="$.post('@Url.Action("SendMessage")')" /></p>
    <p><input type="button" title="Clear Messages" value="Clear Messages" onclick="$.post('@Url.Action("ClearMessages")'); $('#pMessages').empty();" /></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Messages</h2>
        <p id="pMessages" />
    </div>

</div>