<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="asprise-ocr-api" version="15.3.1.0" targetFramework="net40" />
  <package id="asprise-ocr-dll-bundle-32" version="15.3.1.0" targetFramework="net40" />
  <package id="asprise-ocr-dll-bundle-64" version="15.3.1.0" targetFramework="net40" />
</packages>