<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="8708da4e-22ee-499a-abed-bd33ee7e6371" Publisher="CN=cstein" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Bing Maps C# Landmark Events Sample</DisplayName>
    <PublisherDisplayName>Microsoft</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="LandmarkEventsSample.App">
      <VisualElements DisplayName="Bing Maps C# Landmark Events Sample" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="The Bing Maps C# Landmark Events Sample shows how to handle the LandmarkTapped event." ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>