<style>
    .actualColor {
        background-color: #64a449;
        color: #FFFFFF;
        border: solid 1px #659EC7;
        font-size: x-large;
    }

    .changeColor1 {
        background-color: #e81a1a;
        color: #FFFFFF;
        border: solid 1px #659EC7;
        font-size: x-large;
        cursor: pointer;
    }
     

    .changeColor2 {
        background-color: #fbe700;
        color: #be1010;
        border: dashed 1px #659EC7;
        font-size: x-large;
        cursor: pointer;
    }

    .columns {
        columns: 4;
    }
</style>
<html data-ng-app="AngularJs_Module">
@{
    ViewBag.Title = "SHANU Hotel Booking";
}
<body data-ng-controller="AngularJs_Controller">
    <img src="~/Images/blank.gif" alt="" width="1" height="10" />

    <table width="99%" style=" border-bottom:3px solid #3273d5;">
        <tr>

            <td width="190">
                <table width="99%">
                    <tr>
                        <td>
                            Welcome Mr. {{'SHANU'}}

                        </td>


                    </tr>
                </table>
            </td>
            <td class="style1" align="center">
                <h3>Shanu Hotel Booking System using MVC & AngularJS  :)</h3>
            </td>
            <td align="right">
                <div>
                    Today Date is :
                    {{date | date:'yyyy-MM-dd'}}
                </div>

            </td>
        </tr>
    </table>
    

    <img src="~/Images/blank.gif" alt="" width="1" height="2" />

    <table style='width: 99%;table-layout:fixed;'>
        <tr >
            <td>

                <table style='width: 99%;table-layout:fixed;'>
                    <tr>
                        <td>
                            <table style="width: 99%; background-color:#FFFFFF; border:dashed 3px #6D7B8D; padding 5px; table-layout:fixed;" cellpadding="2" cellspacing="2">
                                <tr style="height: 30px; background-color:#0684de ; color:#FFFFFF ;border: solid 1px #659EC7;">
                                    <td align="center">
                                        <h1> Room Status </h1>
                                    </td>

                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="~/Images/blank.gif" alt="" width="1" height="2" />
                        </td>
                    </tr>
                    <tr>
                        <td>

                            <div class="columns">
                                <div ng-repeat="details in RoomAvailableData">
                                       <table style='width: 99%;table-layout:fixed;'>
                                            <tr ng-class="{actualColor: details.BookingStatus == 'Free', changeColor1: details.BookingStatus == 'Occupied', changeColor2: details.BookingStatus == 'Reserved'}">
                                                   <td align="center" >
                                                            <table style='width: 99%;table-layout:fixed;'>
                                                                <tr>
                                                                    <td>&nbsp;</td>
                                                                </tr>
                                                                <tr>
                                                                <td align="center">
                                                                    <b>Room NO : {{details.RoomNo}}</b>
                                                                </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center">
                                                                        <b>Status : {{details.BookingStatus}}</b>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center">
                                                                        <span style="font-size:medium">
                                                                            Payment Status :<b> {{details.PaymentStatus}}</b>
                                                                        </span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center">
                                                                        <span style="font-size:medium">
                                                                            Advance Paid :<b> {{details.AdvancePayed}}</b>
                                                                        </span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center">
                                                                        <span style="font-size:medium">
                                                                            Total Amount Paid : <b>{{details.TotalAmountPayed}}</b>
                                                                        </span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center">
                                                                        <span style="font-size:small">
                                                                           Booked From  : {{details.BookedDateFR}} ~ {{details.BookedDateTO}}
                                                                        </span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>&nbsp;</td>
                                                                </tr>
                                                            </table>
                                                          

                                                        </td>
                                                    </tr>
                                           <tr>
                                               <td>

                                                   <img src="~/Images/blank.gif" alt="" width="1" height="2" />
                                               </td>
                                           </tr>
                                           <tr>
                                               <td>

                                                   <img src="~/Images/blank.gif" alt="" width="1" height="2" />
                                               </td>
                                           </tr>
                                           <tr>
                                               <td>

                                                   <img src="~/Images/blank.gif" alt="" width="1" height="2" />
                                               </td>
                                           </tr>
                                           <tr>
                                               <td>

                                                   <img src="~/Images/blank.gif" alt="" width="1" height="2" />
                                               </td>
                                           </tr>
                                    </table>
                               
                                       
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>

<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular-animate.js"></script>
<script src="~/Scripts/angular-animate.min.js"></script>
<script src="~/Scripts/MYAngular/controller.js"></script>

