<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="133E2AEE-177A-43F4-BB19-4A6CCA8BD2CA" Publisher="CN=jimwal" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Bing Maps C# Pushpin Sample</DisplayName>
    <PublisherDisplayName>Microsoft</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="PushpinSample.App">
      <VisualElements DisplayName="Bing Maps C# Pushpin Sample" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="The Pushpin Sample shows how to place pushpins (interactive icons) on a map using C#, XAML, and the Bing Maps SDK for Windows Store apps." ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>