<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) .NET Foundation and contributors. All rights reserved. Licensed under the Microsoft Reciprocal License. See LICENSE.TXT file in the project root for full license information. -->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <?define Property_ProductVersion = "1.0.41.0" ?>
  <?define Property_UpgradeFrom = "1.0.0.0" ?>
  <?define Property_UpgradeTo = "9.9.9.9" ?>
  <?define Property_UpgradeCode = "2FB78289-AD52-4680-81B7-2BF72E8DCA64" ?>
  <Product Id="*" Name="zSiS.AlwaysOnService - $(var.Property_ProductVersion)" Language="1033" Version="$(var.Property_ProductVersion)" Manufacturer="zSiS" UpgradeCode="$(var.Property_UpgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of zSiS.AlwaysOnService is already installed." />
    <MediaTemplate />
    <PropertyRef Id="WIX_IS_NETFRAMEWORK_46_OR_LATER_INSTALLED" />
    <Condition Message="This application requires .NET Framework 4.6. Please install the .NET Framework then run this installer again."><![CDATA[Installed OR WIX_IS_NETFRAMEWORK_46_OR_LATER_INSTALLED ]]></Condition>
    <Feature Id="ProductFeature" Title="zSiS.AlwaysOnServiceInstaller" Level="1">
      <ComponentGroupRef Id="AlwaysOnProductComponents" />
    </Feature>
  </Product>
  <Fragment>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="zSiS" Name="zSiS">
          <Directory Id="INSTALLFOLDER" Name="zSiS." />
        </Directory>
      </Directory>
    </Directory>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="AlwaysOnProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ProductComponentAlwaysOn" Guid="{42AA0BF4-C428-45AF-8E75-04FF23A8FDE1}" >
        <File Id="zSiS.AlwaysOnService.exe.config" Source="$(var.zSiS.AlwaysOnService.TargetPath).config" KeyPath="no" Checksum="yes" Vital="yes" DiskId="1"/>
        <File Id="zSiS.AlwaysOnService.exe" Source="$(var.zSiS.AlwaysOnService.TargetPath)" KeyPath="yes" Checksum="yes" Vital="yes" DiskId="1"  />
        <ServiceInstall Id="zSiS.AlwaysOnService.exe" Type="ownProcess" Vital="yes" Name="zSiS.AlwaysOnService" DisplayName="_zSiS.AlwaysOnService" Description="Always On Service" Start="auto"  ErrorControl="normal" Interactive="no" />
        <ServiceControl Id="zSiS.AlwaysOnService.exe" Name="zSiS.AlwaysOnService" Stop="both" Start="install" Remove="uninstall" Wait="no" />
      </Component>
      <Component Id="EnterpriseLib" Guid="{395F8582-3453-45E4-AD24-2450833BDD3E}" >
        <File Id="Microsoft.Practices.EnterpriseLibrary.Common.dll" Source="$(var.zSiS.AlwaysOnService.TargetDir)\Microsoft.Practices.EnterpriseLibrary.Common.dll" KeyPath="no" Checksum="yes" Vital="yes" DiskId="1"  />
        <File Id="Microsoft.Practices.EnterpriseLibrary.Common.xml" Source="$(var.zSiS.AlwaysOnService.TargetDir)\Microsoft.Practices.EnterpriseLibrary.Common.xml" KeyPath="no" Checksum="yes" Vital="yes" DiskId="1"  />
        <File Id="Microsoft.Practices.EnterpriseLibrary.Logging.dll" Source="$(var.zSiS.AlwaysOnService.TargetDir)\Microsoft.Practices.EnterpriseLibrary.Logging.dll" KeyPath="no" Checksum="yes" Vital="yes" DiskId="1"  />
        <File Id="Microsoft.Practices.EnterpriseLibrary.Logging.xml" Source="$(var.zSiS.AlwaysOnService.TargetDir)\Microsoft.Practices.EnterpriseLibrary.Logging.xml" KeyPath="no" Checksum="yes" Vital="yes" DiskId="1" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>