@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
     <a href="http://code.msdn.microsoft.com/aspnetmvcsamples/Release/ProjectReleases.aspx?ReleaseId=5114">MVC 3 samples</a> 
     <br />
     <a href="http://code.msdn.microsoft.com/aspnetmvcsamples"> MVC 2 samples</a>
</p>
