<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="appHmacKey" value="Dbh1zG6OvhISvBNHqLDDWIF7Nvwdf2iTJEkv04sH8rTjzfiROd4WJunI0yP+Amd3K2MqMa4rphNYGTd1XzV8tA=="/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
