<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="couchbase" type="Couchbase.Configuration.CouchbaseClientSection, Couchbase"/>
    <sectionGroup name="BTL.Applications">
      <section name="AuthRequestTypeSettings" type="BTL.Infrastructure.Configuration.SectionConfiguration, BTL.Infrastructure"/>
      <section name="MySettings" type="BTL.Infrastructure.Configuration.SectionConfiguration, BTL.Infrastructure"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />    
  </appSettings>
  
  <couchbase>    
    <servers bucket="default" bucketPassword="">
      <add uri="http://localhost:8091/pools/default"/>
    </servers>
  </couchbase>

  <BTL.Applications>
    <MySettings>
      <settings>
        <add name="SecretKey" value="A9468ADE-8830-4955-B378-573BBCCC62EF" />
        <add name="CookieExpiredTime" value="488" />
        <add name="CookieExpiredTime" value="2" />
        <add name="FacebookAppID" value="" />
        <add name="FacebookAppSecret" value="" />
        <add name="TwitterConsumerKey" value="" />
        <add name="TwitterConsumerSecret" value="" />
        <add name="GoogleConsumerKey" value="" />
        <add name="GoogleConsumerSecret" value="" />
      </settings>
    </MySettings>
    <AuthRequestTypeSettings>
      <settings>
        <add 
          name="FacebookAuthRequestProcessingContext"
          value="BTL.Application.Web.Infrastructure.Security.Authentications.Contexts.FacebookAuthentication.FacebookAuthRequestProcessingContext, BTL.Application.Web.Infrastructure"          
          authRequestType="Facebook"
          processType="Processing"          
          returnResult="string"
          inputParameter="FacebookAuthRequestProcessingParameter" />
        <add
          name="FacebookAuthRequestProcessedContext"
          value="BTL.Application.Web.Infrastructure.Security.Authentications.Contexts.FacebookAuthentication.FacebookAuthRequestProcessedContext, BTL.Application.Web.Infrastructure"
          authRequestType="Facebook"
          processType="Processed"          
          returnResult="BTL.Application.Web.Infrastructure.Security.Authentications.Models.FacebookUserInformation, BTL.Application.Web.Infrastructure"
          inputParameter="BTL.Infrastructure.Dci.NullDciParameter, BTL.Infrastructure" />
      </settings>
    </AuthRequestTypeSettings>
  </BTL.Applications>
  
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=|DataDirectory|\AdvertisementDB.sdf" providerName="System.Data.SqlServerCe.4.0" />
  </connectionStrings>
 
  <system.web>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <!--<compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>-->
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="BTL.Application.Web.Models" />
        <add namespace="BTL.Application.Web.Infrastructure.Extensions" />        
      </namespaces>      
    </pages>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>    
    <httpRuntime requestValidationMode="2.0"/>
    <httpModules>
      <add name="AuthenticationHttpModule" type="BTL.Application.Web.Infrastructure.Security.HttpModules.FormsAuthenticationHttpModule, BTL.Application.Web.Infrastructure"/>
    </httpModules>
    <globalization culture="en-GB" enableClientBasedCulture="true" uiCulture="en-GB"/>
  </system.web>
  <system.serviceModel>
    <client>
      <endpoint name="AppSecurityService" 
                address="http://localhost:1212/AppSecurity/AppSecurityService.svc" 
                binding="basicHttpBinding" 
                contract="BTL.Services.AppSecurity.Contract.IAppSecurityService"/>
      <endpoint name="AppAuthenticationService"
                address="http://localhost:1212/AppAuthentication/AppAuthenticationService.svc"
                binding="wsHttpBinding"
                bindingConfiguration="CustomWsHttpBinding"
                contract="BTL.Services.AppAuthentication.Contract.IAppAuthenticationService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="largefield" openTimeout="00:02:00" sendTimeout="00:02:00" maxBufferSize="524288" maxReceivedMessageSize="524288">
          <readerQuotas maxDepth="20" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
        <binding name="Imagefield" openTimeout="00:02:00" sendTimeout="00:02:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="20" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="CustomWsHttpBinding"
            closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00"
            sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false"
            hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288"
            maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8"
            useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
                realm="">
              <extendedProtectionPolicy policyEnforcement="Never" />
            </transport>
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
                establishSecurityContext="true" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />    
    <modules runAllManagedModulesForAllRequests="true">
      <add 
        name="AuthenticationHttpModule" 
        type="BTL.Application.Web.Infrastructure.Security.HttpModules.FormsAuthenticationHttpModule, BTL.Application.Web.Infrastructure"/>      
    </modules>
  </system.webServer>

  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--<probing privatePath="Plugins/Temp" />-->
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <!--<bindingRedirect oldVersion="1.0.0.0-2.0.0.0-3.5.0.0" newVersion="4.0.0.0" />-->
        <bindingRedirect oldVersion="3.5.0.0" newVersion="4.0.0.0"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>  
</configuration>