<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="ff599c51-8b9f-478e-9a49-860dfa850ecc" Publisher="CN=cstein" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Bing Maps C# Map Shapes Sample</DisplayName>
    <PublisherDisplayName>Microsoft</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MapShapesSample.App">
      <VisualElements DisplayName="Bing Maps C# Map Shapes Sample" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="The Bing Maps C# Maps Sample shows how to add shapes to the map including polygons and polylines. It also indicates the difference between valid and invalid polygons." ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>