<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="b8017cf5-1730-4568-b439-374cffbf7790" Publisher="CN=cstein" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Bing Maps C# Pixel To Location Sample</DisplayName>
    <PublisherDisplayName>Microsoft</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="PixelToLocationSample.App">
      <VisualElements DisplayName="Bing Maps C# Pixel To Location Sample" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="The Bing Maps C# Pixel To Location Sample shows how to convert a pixel position to a Location (latitude/longitude)." ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>