<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5" />

    <authentication mode="Forms">
      <forms loginUrl="~\LocalSTS\ls\Login.aspx" />
    </authentication>

    <membership defaultProvider="customMembershipProvider">
      <providers>
        <add name="customMembershipProvider" type="LocalSTS.CustomMembershipProvider, LocalSTS" />
      </providers>
    </membership>

    <authorization>
      <deny users="?"/>
    </authorization>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>