.inline-list {    
    margin-left:0px;
    margin-right:-1px;
    padding-left:0px;
    padding-right:0px;
}

.inline-list>li {    
    margin-left:2px;
    margin-right:0px;
    padding-left:0px;
    padding-right:0px;
}
