<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CRUD_app.Properties.Settings.kaafiConnectionString"
            connectionString="Data Source=192.168.0.39;Initial Catalog=kaafi;User ID=sa;Password=Spin123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>