USE [master]
GO
/****** Object:  Database [UnitTesting]    Script Date: 4/29/2018 7:25:33 AM ******/
CREATE DATABASE [UnitTesting]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UnitTesting', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\UnitTesting.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'UnitTesting_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\UnitTesting_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UnitTesting].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UnitTesting]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 4/29/2018 7:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](40) NOT NULL,
	[ContactName] [nvarchar](30) NULL,
	[ContactTitle] [nvarchar](30) NULL,
 CONSTRAINT [PK_Customers_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GenderTypes]    Script Date: 4/29/2018 7:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GenderTypes](
	[GenderIdentifier] [int] IDENTITY(1,1) NOT NULL,
	[Gender] [nvarchar](max) NULL,
 CONSTRAINT [PK_GenderTypes] PRIMARY KEY CLUSTERED 
(
	[GenderIdentifier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Person]    Script Date: 4/29/2018 7:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[GenderIdentifier] [int] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Persons] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[GenderTypes] ON 

INSERT [dbo].[GenderTypes] ([GenderIdentifier], [Gender]) VALUES (1, N'Female')
INSERT [dbo].[GenderTypes] ([GenderIdentifier], [Gender]) VALUES (2, N'Male')
INSERT [dbo].[GenderTypes] ([GenderIdentifier], [Gender]) VALUES (3, N'Other')
SET IDENTITY_INSERT [dbo].[GenderTypes] OFF
ALTER TABLE [dbo].[Person]  WITH CHECK ADD  CONSTRAINT [FK_Person_GenderTypes] FOREIGN KEY([GenderIdentifier])
REFERENCES [dbo].[GenderTypes] ([GenderIdentifier])
GO
ALTER TABLE [dbo].[Person] CHECK CONSTRAINT [FK_Person_GenderTypes]
GO
USE [master]
GO
