<!--Copy Code Starting Here-->
<!DOCTYPE html>   
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
       <p>Name: @Model.first_name</p>
       <p>Last Name: @Model.last_name</p>
    </div>
</body>
</html>
<!--Stop Copying Code Here-->
