@using Groupdocs.Web.UI.Comparison
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Html.CreateComparisonStylesLoadBlock()
</head>

<body>
    @RenderBody()
    
    @Html.CreateComparisonScriptsLoadBlock()
</body>
</html>
