<div class="col-sm-9">
    <input type="text" class="form-control input-lg" id="txtProductModel" placeholder="Search Model By Name">
</div>
<div class="col-sm-1" style="margin-top:6px">
    <a><span class="glyphicon glyphicon-search" id="search-productModel"></span></a>
</div>





