<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- ADAL config settings-->
    <add key="Tenant" value="[Windows Azure AD Tenant Information e.g. https://login.windows.net/contoso.onmicrosoft.com]"/>
    <add key="ClientId" value= "[Your CLIENT ID for the client app regestered in Windows Azure AD. Should be different for each client. Example 92df4345-1eb4-4d84-9bc1-e45cde68fd47]"/>
    <add key="ResourceUrl" value="[Your service App URL. Example: https://xyz.cloudapp.net]"/>
    <add key="AppIdUri" value="[Your service App ID URI. Example: http://localhost:9985/]"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>