<div class="right-pane">

    <div class="section-head">
        <h1>{{item.name}}</h1>
    </div>

    <div class="section-body">

        <img ng-src="{{item.images[0]}}" class="item">

        <div class="item-thumbs">
            <img ng-src="{{item.images[1]}}" class="item-img">
        </div>

        <p>{{item.description}}</p>

        <ul class="info">
            <li>
                <span>Additional Info</span>
                <dd>{{item.additionalInfo}}</dd>
            </li>
        </ul>
    </div>
</div>