<div class="col-sm-9">
    <input type="text" class="form-control input-lg" id="txtSubCategory" placeholder="Search Sub Category By Name">
</div>
<div class="col-sm-1" style="margin-top:6px">
    <a><span class="glyphicon glyphicon-search" id="search-subcategory"></span></a>
</div>

