<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="IsCreatedNewDb" value="false"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <!--<connectionStrings>    
    <add name="DefaultConnection"
         providerName="System.Data.SqlClient"
         connectionString="Server=.\SQLEXPRESS;Database=AdvertisementDB;Integrated Security=false;
         Persist Security Info=False;User ID=sa;Password=123456;Connect Timeout=120;MultipleActiveResultSets=True;" />
  </connectionStrings>-->
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />    
    <services>
      <service name="BTL.Services.AppSecurity.Service.AppSecurityService"  behaviorConfiguration="DefaultBehavior">

        <endpoint  address=""
                   contract="BTL.Services.AppSecurity.Contract.IAppSecurityService"
                   binding="basicHttpBinding" bindingConfiguration="largefield"/>

        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>        
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding>
          <readerQuotas maxDepth="15" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
        <binding name="largefield" openTimeout="00:02:00" sendTimeout="00:02:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" >
          <readerQuotas maxDepth="20" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint name="AppSecurityService" address="http://localhost:1212/AppSecurity/AppSecurityService.svc" binding="basicHttpBinding" contract="BTL.Services.AppSecurity.Contract.IAppSecurityService, BTL.Services.AppSecurity.Contract"/>
    </client>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>  
  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="sdt" type="System.Diagnostics.XmlWriterTraceListener" initializeData="SdrConfigExample.e2e"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>