<hr style="height: 1px;color: #123455;background-color: #d55500;border: none;color: #d55500;" />
<table style="background-color:#FFFFFF; border: dashed 3px #6D7B8D; padding: 5px;width: 100%;table-layout:fixed;" cellpadding="2"
       cellspacing="2">
    <tr style="height: 30px;  color:#123455 ;border: solid 1px #659EC7;">
      
        <td align="center">
            <h1> Welcome to Shanu ASP.NET Core , Angular2 Shopping Cart using   Web API and EF 1.0.1 </h1>
        </td>
         
    </tr>
</table>
<hr style="height: 1px;color: #123455;background-color: #d55500;border: none;color: #d55500;" />