#info_message{
   
	width:100%;
	background-color: #fff;
	position:fixed;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=95); 
	opacity: 0.95;
	-moz-opacity: 0.95;
	text-align:center;
	left:0px;
	z-index:9999999;
	margin:0px;
	padding:0px;
}

#info_message ul {
    float: left;
    list-style: none;
}

#info_message ul li{
    text-align: left !important;
}

.center_auto{
    margin: 0 auto;
    width: 950px;
    padding: 15px 25px;
}

#info_message .message_area{
    float: left;
    width: 100%;
}

#info_message .button_area{
    float: right;
    width: 16px;
    height: 16px;
     background: url('../../img/erro-popup-close.png') 0 0 no-repeat;    
    cursor: pointer;
}
.error_bg{
    background-color: #F2DEDE !important;
    border-color: #EED3D7;
}
.error_bg .message_area{
    font:bold 14px arial;
    color: #B94A48;
}

.succ_bg{
    background-color: #DFF0D8 !important;
    border-color: #D6E9C6;
}
.succ_bg .message_area{
    color: #468847;
   
}

.info_bg{
    background-color: #D9EDF7 !important;
    border-color: #BCE8F1;
}
.info_bg .message_area{
    font:bold 14px arial;
    color: #3A87AD;
}
.clearboth{
    clear: both;
}

.input-validation-error {
    border-color: #f09784 !important;
    color: #d68273 !important;
    box-shadow: none !important;
}
