<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Test.Services.EmpBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="Test.Services.EmpBehavior" name="Test.Services.Emp">
        <endpoint address="" binding="wsHttpBinding" contract="Test.Services.IEmp">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/Test.Services/Emp/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <appSettings>
    <add key="Test.DAL" value="Test.SQLServerDAL"/>
  </appSettings>
  <connectionStrings>
    <add name="EmpConnectionString" connectionString="Database=TestDB;Server=.\sharepoint;uid=test;pwd=1" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
