:host {
    min-height: 100vh;
}

mat-sidenav {
    width: 250px;
}

.app-content {
    padding: 20px;
}

mat-nav-list {
    padding-top:0px !important;
}

mat-toolbar {
    background-color: #EFEFEF;
    box-shadow: none;
}

/deep/ mat-tab-active {
    background-color:red;
}

.app-content md-card {
    margin: 20px;
}

.app-sidenav {
    padding: 10px;
    min-width: 200px;
}

.app-content md-checkbox {
    margin: 10px;
}

.app-toolbar-filler {
    flex: 1 1 auto;
}

.app-toolbar-menu {
    padding: 0 14px 0 14px;
    color: white;
}

.app-icon-button {
    box-shadow: none;
    user-select: none;
    background: none;
    border: none;
    cursor: pointer;
    filter: none;
    font-weight: normal;
    height: auto;
    line-height: inherit;
    margin: 0;
    min-width: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
}

.app-action {
    display: inline-block;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.app-spinner {
    height: 30px;
    width: 30px;
    display: inline-block;
}

.app-input-icon {
    font-size: 16px;
}

.app-list {
    border: 1px solid rgba(0,0,0,0.12);
    width: 350px;
    margin: 20px;
}

.app-progress {
    margin: 20px;
}

mat-sidenav {
    background-color: white;
    border-right: 1px solid #DDDDDD;
}

#navHeader {
    height:56px;
}

.activeItem {
    border-left: 5px solid #43529c;
    background-color: #f6f6f5;
}