/*
	MUST CREATE before running the main app
*/
USE [master]
GO
/****** Object:  Database [ApplicationProductionData]    Script Date: 2/24/2018 6:57:33 AM ******/
CREATE DATABASE [ApplicationProductionData]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ApplicationProductionData', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ApplicationProductionData.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ApplicationProductionData_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ApplicationProductionData_log.ldf' , SIZE = 2560KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ApplicationProductionData].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ApplicationProductionData]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 2/24/2018 6:57:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Role] [nvarchar](max) NULL,
	[RoleId] [int] NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[People]    Script Date: 2/24/2018 6:57:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Gender] [int] NULL,
	[BirthDay] [datetime2](7) NULL,
 CONSTRAINT [PK_People] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Gender] ON 

INSERT [dbo].[Gender] ([id], [Role], [RoleId]) VALUES (1, N'Male', 1)
INSERT [dbo].[Gender] ([id], [Role], [RoleId]) VALUES (2, N'Female', 2)
INSERT [dbo].[Gender] ([id], [Role], [RoleId]) VALUES (3, N'Other', 3)
SET IDENTITY_INSERT [dbo].[Gender] OFF
SET IDENTITY_INSERT [dbo].[People] ON 

INSERT [dbo].[People] ([Id], [FirstName], [LastName], [Gender], [BirthDay]) VALUES (1, N'Ralph', N'Cross', 1, CAST(N'1997-11-15 00:00:00.0000000' AS DateTime2))
INSERT [dbo].[People] ([Id], [FirstName], [LastName], [Gender], [BirthDay]) VALUES (2, N'Kent', N'Choi', 2, CAST(N'2007-07-03 00:00:00.0000000' AS DateTime2))
INSERT [dbo].[People] ([Id], [FirstName], [LastName], [Gender], [BirthDay]) VALUES (3, N'Xavier', N'Beard', 2, CAST(N'1984-01-07 00:00:00.0000000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[People] OFF
ALTER TABLE [dbo].[People]  WITH CHECK ADD  CONSTRAINT [FK_People_Gender] FOREIGN KEY([Gender])
REFERENCES [dbo].[Gender] ([id])
GO
ALTER TABLE [dbo].[People] CHECK CONSTRAINT [FK_People_Gender]
GO
USE [master]
GO
